<%

	const targetDemoID = locals.sanitizedQueryParams.id;
	let demo = locals.availableDemoConfigs.find((demo) => demo.id === targetDemoID);

	if (!demo) {
		demo = locals.localization.demoGroups.find((demo) => demo.id === targetDemoID);
	}

	if (!demo) {
		demo = locals.magickFlows[targetDemoID] && locals.magickFlows[targetDemoID].metaData;
	}

	if (!demo) {
		console.log('NOTHING FOUND!!!!!')
		demo = locals.availableDemoConfigs[0];
	}





%>
<script type="text/javascript">
	const demo =<%- JSON.stringify(demo)%>;
	console.group('[ product-templates/catalogue/includes/details-contents.ejs:14 ] demo:');
	console.dir(demo);
	console.log(`demo.longFormDescription: `, demo.longFormDescription);
	console.groupEnd();
</script>
<div class="header">
	<%- (demo.heroBanner) ? `<img id="details-page-header-banner_image" class="thumb" src="${demo.heroBanner}" alt="">` : '<div style="height:90px" ></div>' %>
	
	
    <div class="slds-page-header">
  <div class="slds-page-header__row">
    <div class="slds-page-header__col-title">
      <div class="slds-media">
        <div class="slds-media__figure">
          <%# <span class="slds-icon_container slds-icon-standard-opportunity" title="opportunity">
            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity"></use>
            </svg>
            <span class="slds-assistive-text">opportunity</span>
          </span> %>
        </div>
        <div class="slds-media__body">
          <div class="slds-page-header__name">
            <div class="slds-page-header__name-title">
              <h1>
                <span class="slds-page-header__title slds-truncate" title="Rohde Corp - 80,000 Widgets">
                	<%= demo.name %>
					<div id="details-page-header-banner_description" class="slds-text-heading_large">
						<%= demo.description %>
					</div>
				</span>
              </h1>
            </div>
          </div>
          <p class="slds-page-header__name-meta">Eric Stahl • Indidana Fever • 06/16-19/19</p>
        </div>
        <% if (demo.production) {%>
      <a href="<%= demo.production.host%>" class="slds-button slds-button_neutral" >View Demo</a>
      <% } %>
      </div>
    </div>
  </div>
</div>
</div>

<br>
<div class="slds-grid slds-gutters  slds-grid_vertical-stretch slds-m-around_medium">

	<div class="slds-col slds-size_1-of-4">
		<div class="slds-box slds-theme_catalogue-desc">
			<div class="slds-box__body slds-box__body_inner">
			    <h3>Event Information</h3>
		        <h2>When</h2>
		        <p><%= demo.date %></p>

		        <h2>Where</h2>
		        <p><%= demo.location %></p>

		        <h2>Brands</h2>
		        <p><%= demo.brands %></p>

		        <h2>Presenters</h2>
		        <p><%= demo.presenters %></p>
	       </div>
       </div>
    </div>
    <div class="slds-col slds-size_3-of-4">
    	<div class="slds-box slds-theme_catalogue-desc ">
			<div class="slds-box__body slds-box__body_inner">
			    <h3>Event Description</h3>
			    <section class="slds-text-longform">
					<p><%- demo.longFormDescription %></p>
				</section>
		    </div>
	    </div>
    </div>
</div>




	<%

		let detailsContentHtmlOut = ``;



		detailsContentHtmlOut += `<div class="demo-catalogue_thumbnails slds-m-around_x-large">`;
		if (demo.demoIDs) {

			detailsContentHtmlOut += `<div class="slds-grid slds-gutters slds-wrap slds-grid_vertical-stretch">`;

			demo.demoIDs.forEach((demo) => {
				let demoConfig = locals.availableDemoConfigs.find((possibleMatch) => possibleMatch.id === demo);

				if (!demoConfig) demoConfig = locals.localization.demoGroups.find((possibleMatch) => possibleMatch.id === demo);

				if (!demoConfig) demoConfig = locals.magickFlows[demo].metaData;


				if(demoConfig) {
					detailsContentHtmlOut += include('includes/demo-thumb', demoConfig);
				}
			});

			detailsContentHtmlOut += `</div>`;
		}

		if (demo.demoFlow && demo.demoFlow.steps) {
			detailsContentHtmlOut += `<div class="slds-grid slds-gutters slds-wrap slds-grid_vertical-stretch">`;

			demo.demoFlow.steps.forEach((step) => {
				let actionTaken = '';

				if (typeof step.goto !== "undefined") {
					actionTaken = `Went to ${step.goto}`;
				}

				if (typeof step.click !== "undefined") {
					actionTaken = `Clicked ${step.click}`;
				}

				if (typeof step.hover !== "undefined") {
					actionTaken = `Hovered ${step.hover}`;
				}

				if (typeof step.evaluate !== "undefined") {
					let evaluateProcessed = step.evaluate;
					// evaluateProcessed = evaluateProcessed.replace('()', '--');
					actionTaken = `Executed JS: <div class="slds-box slds-theme_info slds-scrollable"><code class="slds-text-font_monospace">${evaluateProcessed}</code></div>`;
				}


				if (typeof step.drag !== "undefined") {
					actionTaken = `Dragged ${step.drag}`;
				}

				if (actionTaken === '') { actionTaken = 'Did nothing'}

				const waitedFor = (typeof step.waitFor === 'number') ? `${step.waitFor/1000} seconds` : `${step.waitFor} to load`;

			

				let tempDemoConfig = demo;
				tempDemoConfig.thumbnail = `screenshots/${demo.id}.${step.name}.slide.png`;
				tempDemoConfig.description = `${actionTaken} and waited for ${waitedFor}`;
				tempDemoConfig.code = `${actionTaken} and waited for ${waitedFor}`;

				// detailsContentHtmlOut += include('includes/demo-thumb', tempDemoConfig);

				detailsContentHtmlOut += `
					<article class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_3-of-12 demo-thumb_col demo-thumb_content">
						<div class="slds-box slds-theme_default slds-grid slds-grid_vertical">
							<div class="slds-box__body slds-box__body_inner slds-grow slds-shrink-none">
								<a href="screenshots/${demo.id}.${step.name}.slide.png">
									<img  id="demo-thumb---${demo.id.replace(/\./g, '--')}---${step.name.replace(/\./g, '--')}" class="thumbnail" src="screenshots/${demo.id}.${step.name}.slide.png" alt="">
								</a>
								<h3>${step.name}</h3>
							</div>
							<footer class="slds-box__footer slds-grow-none slds-shrink">
								<p>${demo.description.replace(/\(\) => {/g, '').replace(/\}/g, '')}</p>
							</footer>
						</div>
					</article>
				`;

				// 	<article class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_3-of-12 demo-thumb_col demo-thumb_content slds-card">
				// 			<div class="slds-card__body slds-card__body_inner">
				// 				<a href="screenshots/${demo.id}.${step.name}.slide.png">
				// 					<img  id="demo-thumb---${demo.id.replace(/\./g, '--')}---${step.name.replace(/\./g, '--')}" class="thumbnail" src="screenshots/${demo.id}.${step.name}.slide.png" alt="">
				// 				</a>
				// 			</div>
				// 			<footer class="slds-card__footer">
				// 				${actionTaken} and waited for ${waitedFor}
				// 			</footer>
				// 	</article>
				// `;
			});

			detailsContentHtmlOut += `</div>`;
		}

		detailsContentHtmlOut += `</div>`;


		%>
		<%- detailsContentHtmlOut %>

</div>
