<%

	const targetDemoID = locals.sanitizedQueryParams.id;
	let demo = locals.availableDemoConfigs.find((demo) => demo.id === targetDemoID);

	if (!demo) {
		demo = locals.localization.demoGroups.find((demo) => demo.id === targetDemoID);
	}

	if (!demo) {
		console.log('NOTHING FOUND!!!!!')
		demo = locals.availableDemoConfigs[0];
	}

%>
<div class="header">
	<%- (demo.heroBanner) ? `<img id="details-page-header-banner_image" class="thumb" src="${demo.heroBanner}" alt="">` : '' %>
	<div id="details-page-header-banner_name" class="title"><%= demo.name %>
		<div id="details-page-header-banner_description" class="slds-text-heading_large"><%= demo.description %></div>
	</div>
	<button class="slds-button slds-button_neutral">
		<a href="<%= demo.production && demo.production.host %>" class="slds-button">View Demo</a>
	</button>
</div>


<div id="overview" class="home slds-m-around_x-large">

    <div id="eventInfo">
        <h3>When</h3>
        <p>June 16th, 2019 - June 19th, 2019</p>
        <h3>Where</h3>
        <p>Chicago, Illinois</p>
        <h3>Brands</h3>
        <p>Indiana Pacers, Indiana Fever, Michael Page,
           <br> Northern Trail Outfitters</p>
        <h3>Presenters</h3>
        <p>Eric Stahl, Katrin Rabant, Christy Poulos, </p>
    </div>
    <div id="eventDesc">
		<%- demo.longformDescription %>
    </div>
</div>



	<%
		if (demo.demoIDs) {
			echo(`<div class="row">`);

			demo.demoIDs.forEach((demo) => {
				let demoConfig = locals.availableDemoConfigs.find((possibleMatch) => possibleMatch.id === demo);

				if(demoConfig) {
					echo(include('includes/demo-thumb', demoConfig))
				}
			});

			echo(`</div>`);
		}

		if (demo.demoFlow && demo.demoFlow.steps) {
			echo(`<div class="row">`);

			demo.demoFlow.steps.forEach((step) => {
				let actionTaken = '';

				if (typeof step.goto !== "undefined") {
					actionTaken = `Went to ${step.goto}`;
				}

				if (typeof step.click !== "undefined") {
					actionTaken = `Clicked ${step.click}`;
				}

				if (typeof step.hover !== "undefined") {
					actionTaken = `Hovered ${step.hover}`;
				}

				if (typeof step.evaluate !== "undefined") {
					actionTaken = `Executed JS: <div><code>${step.evaluate}</code></div>`;
				}

				if (typeof step.drag !== "undefined") {
					actionTaken = `Dragged ${step.drag}`;
				}

				if (actionTaken === '') { actionTaken = 'Did nothing'}

				const waitedFor = (typeof step.waitFor === 'number') ? `${step.waitFor/1000} seconds` : `${step.waitFor} to load`;

				echo(`

					<div class="column">
						<div class="content">
							<a href="screenshots/${demo.id}.${step.name}.slide.png">
								<img class="thumbnail" src="screenshots/${demo.id}.${step.name}.slide.png" alt="">
							</a>
							<div>
								${actionTaken} and waited for ${waitedFor}
							</div>
						</div>
					</div>
				`);
			});

			echo(`</div>`);
		}
		%>
</div>
