<%

locals.isFolder = typeof locals.isFolder === 'undefined' ? true : locals.isFolder;

const randomIdInt = Math.floor(Math.random() * 10000);
locals.id = locals.id || `folderview-${randomIdInt}`;
locals.comboboxId = locals.comboboxId || `combobox-${locals.id}` || randomId;
locals.listboxId = locals.listboxId || `listbox-${locals.id}` || randomId;

%>

<style>
.folder-view {
    position: static;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    width: 100%;
    transition: border 0.1s linear, background-color 0.1s linear;
    display: inline-block;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
    border-color: #dddbda;
    background-color: white;
    font-size: inherit;
    font-weight: 400;
}

.folder-view .slds-input-has-icon_right {
	padding-left: 1em;
}

.folder-view .slds-input:focus, .folder-view .slds-input:active {
    box-shadow: none;
}

.folder-view__form-element {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.folder-view .slds-input-has-icon .slds-input__icon {
    top: 1rem;
}

.folder-view [role=listbox] {
    display: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.1s linear, visibility 0.1s linear;
    transition: opacity 0.1s linear, visibility 0.1s linear;
}

.folder-view.slds-is-open [role=listbox] {
    display: block;
    visibility: visible;
    opacity: 1;
}

.folder-view .letter-box-icon-thing {
	color: #8ABED5;
    border: 1px solid #DAE6EB;
    padding: 13px 0px 0px 3px;
    line-height: 0;
    font-size: 12px;
    height: 22px;
    width: 16px;
    display: block;
    border-radius: 2px;
}

.folder-view .slds-listbox__item .slds-media {
	border: 1px solid #E0E5EE;
	border-radius: 4px;
}

.folder-view .closed, .folder-view.slds-is-open .opened {
    display: block;
    visibility: visible;
    opacity: 1;
}

.folder-view.slds-is-open .closed, .folder-view .opened {
    display: none;
    visibility: hidden;
    opacity: 0;
}
<% if (locals.customColor) { %>
#<%= locals.comboboxId %> .folder-view__form-element svg {
	fill: <%= locals.customColor.color %>;
}
<% } %>
</style>

<div class="<%= locals.wrapperClasses ? locals.wrapperClasses : 'slds-m-vertical_xx-small' %>">
	<div id="<%= locals.comboboxId %>" class="folder-view" <% if (locals.customColor) { %>style="background: <%= locals.customColor.background %>"<% } %>>
		<div class="folder-view__form-element slds-input-has-icon <%= locals.isFolder ? 'slds-input-has-icon_left-right' : 'slds-input-has-icon_right' %>" role="none">
			<% if (locals.isFolder) { %>
			<span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_left" title="Description of icon when needed">
				<svg class="closed slds-icon slds-icon_x-small slds-icon-text-default">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/utility-sprite/svg/symbols.svg#open_folder" />
				</svg>
				<svg class="opened slds-icon slds-icon_x-small slds-icon-text-default">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/utility-sprite/svg/symbols.svg#opened_folder" />
				</svg>
			</span>
			<% } %>
			<input type="text" class="slds-input folder-view__input" style="cursor: pointer;<% if (locals.customColor) { %>color: <%= locals.customColor.color %>;<% } %>" id="<%= locals.comboboxId %>-input" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" readonly="" value="<%= locals.text ? locals.text : 'Select an Option' %>" />
			<span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
				<svg class="closed slds-icon slds-icon_x-small slds-icon-text-default">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/utility-sprite/svg/symbols.svg#down" />
				</svg>
				<svg class="opened slds-icon slds-icon_x-small slds-icon-text-default">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/utility-sprite/svg/symbols.svg#up" />
				</svg>
			</span>
			<div id="<%= locals.listboxId  %>" role="listbox">
				<ul class="slds-listbox slds-listbox_vertical" role="presentation">
					<%- locals.options && locals.options.reduce((options, option, i) => options + `
						<li role="presentation" class="slds-listbox__item slds-p-vertical_xx-small slds-p-horizontal_small">
							<div id="listbox-option-${locals.listboxId}-${i}" class="slds-media slds-media_small slds-media_center slds-p-horizontal_x-small" role="option">
								<span class="slds-media__figure">
									<span class="letter-box-icon-thing slds-m-right_xxx-small">${option.icon ? option.icon : 'P'}</span>
								</span>
								<span class="slds-media__body">
									<span class="slds-truncate" title="${option.text}">${option.text}</span>
								</span>
							</div>
						</li>
					`, ''); %>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	const combobox<%= randomIdInt %> = document.querySelector(`#<%= locals.comboboxId %>`);	
	const combobox<%= randomIdInt %>Input = document.querySelector(`#<%= locals.comboboxId %>-input`);

	combobox<%= randomIdInt %>Input.addEventListener('click', () => {
		if (combobox<%= randomIdInt %>.classList.contains('slds-is-open')) {
			combobox<%= randomIdInt %>.classList.remove('slds-is-open');
		} else {
			combobox<%= randomIdInt %>.classList.add('slds-is-open');
		}
	});

</script>