<!-- 
Highcharts must be included on page prior to this running
<script type="text/javascript" src="/javascripts/third-party-libraries/highcharts.min.js"></script>
<script type="text/javascript" src="/javascripts/third-party-libraries/highcharts.more.min.js"></script>
-->
<style>
	.circle {
		border-radius: 12px;
		width: 14px;
		height: 14px;
		float: left;
		margin: 2px 8px 0 0;
	}

	.circle.small {
		width: 10px;
		height: 10px;
		margin-top: 3px;
	}
</style>

<div class="slds-panel-box">
	<div class="slds-panel-box__header slds-p-around_x-small"><%- locals.localization.overview.panels.marketer_campaigns.title %>
		<img class="icon slds-float_right" src="/images/settings.svg" />
	</div>
	<div class="slds-panel-box__body">
		<div class="slds-panel-box__sub-header slds-p-around_x-small slds-m-bottom_medium">
			<button class="slds-button slds-button_neutral"><%- locals.localization.overview.panels.marketer_campaigns.buttons[0].label %>
				<img class="slds-button__icon slds-button__icon_right" src="/images/icons/down.dark-blue.svg" />
			</button>
			<button class="slds-button slds-button_neutral"><%- locals.localization.overview.panels.marketer_campaigns.buttons[1].label %>
				<img class="slds-button__icon slds-button__icon_right" src="/images/icons/down.dark-blue.svg" />
			</button>
			<button style="float: right;" class="slds-button slds-button_neutral"><%- locals.localization.overview.panels.marketer_campaigns.buttons[2].label %>
				<img class="slds-button__icon slds-button__icon_right" src="/images/icons/down.dark-blue.svg" />
			</button>
		</div>
		<div id="marketer-campaigns-chart" style="width:100%; height:210px;"></div>
		<div class="slds-grid slds-text-body_small slds-p-around_medium" id="marketer-campaigns-chart-legend"></div>
		<div style="border-top: 1px solid #D8DDE6; width: 100%; margin: 0;text-align: center;" class="slds-p-around_x-small">
		<a href="<%- locals.localization.overview.panels.marketer_campaigns.view_all.href %>"><%- locals.localization.overview.panels.marketer_campaigns.view_all.text %></a>
		</div>
	</div>
</div>

<script type="text/javascript">
const spendData = <%- JSON.stringify(locals.localization.overview.panels.marketer_campaigns.graph.spend_data) %>;

// Gets options for the Cumulative 1st Party Overview chart
const getSpendOptions = () => {
	return {
		legend: {
			verticalAlign: 'top',
			enabled: false
		},
		title: {
			text: ''
		},
		chart: {
			type: 'bubble',
			height: 210,
			style: {
				fontFamily: 'Salesforce Sans'
			},
			zoomType: 'xy'
		},
		xAxis: {
			gridLineWidth: 0,
			labels: {
				formatter: <%- locals.localization.overview.panels.marketer_campaigns.graph.x_axis.formatter %>
			},
			title: {
				text: '<%- locals.localization.overview.panels.marketer_campaigns.graph.x_axis.title %>'
			}
		},
		yAxis: {
			gridLineColor: '<%- locals.localization.overview.panels.marketer_campaigns.graph.y_axis.line_color %>',
			labels: {
				formatter: <%- locals.localization.overview.panels.marketer_campaigns.graph.y_axis.formatter %>
			},
			lineWidth: 1,
			lineColor: '<%- locals.localization.overview.panels.marketer_campaigns.graph.y_axis.line_color %>',
			softMin: 500,
			softMax: 2500,
			tickInterval: 500,
			title: {
				text: '<%- locals.localization.overview.panels.marketer_campaigns.graph.y_axis.title %>'
			}
		},
		plotOptions: {
			bubble: {
				marker: {
					lineWidth: 0,
					fillOpacity: 0.9
				},
				minSize: 30,
				maxSize: 30
			},
			series: {
				animation: {
					duration: 2000
				}
			}
		},
		tooltip: {
			shared: true,
			useHTML: true,
			headerFormat: '',
			pointFormat: '<%- locals.localization.overview.panels.marketer_campaigns.graph.tooltip %>',
			footerFormat: '',
			valueDecimals: 0
		},
		series: [{ data: spendData }]
	};
};

Highcharts.setOptions({credits: { enabled: false }});
let marketerCampaignsChart;

let triggeredMarketerCampaignsAnimation = false;
const animateMarketerCampaigns = () => {
	if (window.scrollY > 500 && !triggeredMarketerCampaignsAnimation) {
		triggeredMarketerCampaignsAnimation = true;
		marketerCampaignsChart = Highcharts.chart('marketer-campaigns-chart', getSpendOptions());
	}
};

document.addEventListener("scroll", animateMarketerCampaigns);

const makeMarketerCampaignsLegendRow = (data) => (`
	<div class="slds-col slds-size_1-of-4">
		<div class="circle small" style="background-color: ${data.color};"></div> ${data.name} <%- locals.localization.overview.panels.marketer_campaigns.graph.CAMPAIGN %>
	</div>
`);

let uniqueNames = [];
const uniqueSpendData = spendData.filter((possibleDupe) => {
	const isUnique = !uniqueNames.find(uniqueName => uniqueName === possibleDupe.name);

	if (isUnique) {
		uniqueNames.push(possibleDupe.name);
	}

	return isUnique;
});
const makeMarketerCampaignsLegend = () => uniqueSpendData.reduce((rows, row) => rows + makeMarketerCampaignsLegendRow(row), '');

document.querySelector('#marketer-campaigns-chart-legend').innerHTML = makeMarketerCampaignsLegend();
</script>