<% if (locals.title) { %>
	<title><%= locals.title %></title>
<%
	} else {
		console.warn(`
============================================================
[WARNING]
	${locals.local.host}${locals.urlSlug} does not have a title set.

	product-templates/mobile/includes/global/head.ejs:6
------------------------------------------------------------
`);

%>
	<script>
		console.warn(`[WARNING: ] <%=locals.local.host%><%=locals.urlSlug%> does not have a title set!`);
	</script>
	<title> </title>
<% } %>

<meta charset="utf-8">

<link rel="stylesheet" href="/styles/salesforce-lightning-design-system.css" />
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/global.css">

<!-- each page automatically tries to include a css file of the same name -->
<% if (locals.siteSection) { %>
<link rel="stylesheet" href="/styles/<%=locals.siteSection%>.css">
<% } %>

<% 
if (locals.pageStylesheets) { 
	locals.pageStylesheets.forEach(function(stylesheet) { 
%>
		<link rel="stylesheet" href="/styles/<%=stylesheet%>">
<% 
	});
} 
%>


<% 
	const { account, trigger, user, version } = locals.sanitizedQueryParams;
	const is201 = version && version === '201';
	const accountParam = account || (is201 ? 'nto-electronics' : 'Crocs');
%>

<script type="text/javascript">
	const demoMagickFlowDirectoryName = '<%=locals.urlSlug%>';
	console.log('[ product-templates/mobile/includes/global/head.ejs:54 ] locals.urlSlug', '<%-locals.urlSlug%>');

	const locals = {};
<%
	Object.keys(locals).forEach(function(key, fileIndex) {
		console.group(`[setting global javascript variables from Demuxe locals] key: `, key);
		console.log(`typeof locals[key]: `, typeof locals[key]);
		console.log(`typeof locals[key] === 'object': `, typeof locals[key] === 'object');
		if (key != '_locals' && key != 'path' && key != 'util' && key != 'classnames' && key != 'sizeOf') {
			if(typeof locals[key] === 'object') {
%>
				locals['<%- key %>'] = <%- JSON.stringify(locals[key]) %>;
<%
			} else {
%>
				locals['<%- key %>']  = '<%- locals[key] %>';
<%
			}
%>
<%
		} else {
			console.log('NOT GONNA SAVE: key: ', key);

		}
		console.groupEnd();
	});

%>
	console.group(`locals:`);
	console.dir(locals);
	console.groupEnd();

	// const url = new URL( window.location.href );
	// const activePage = '<%=locals.siteSection%>';
	// const accountParam = '<%=accountParam%>';
	// const versionParam = '<%=version%>';
	// const magickFlows = '<%=locals.magickFlows%>';
	// const urlSlug = '<%=locals.urlSlug%>';
	// let pageVersion = '<%=version%>';
	// const userParam = '<%=user%>' || 'Dan';
	// const triggerParam = '<%=trigger%>';

	// let accountName = 'Crocs';
	// let userName = '';
	// let appName = 'Salesforce DMP';

	// if (activePage === 'journeys') {
	// 	accountName = 'nto-general';
	// 	pageVersion = '201';
	// 	userName = 'Dan';
	// 	appName = 'Journey Builder';
	// }

	// if ( pageVersion === '201' ) {
	// 	accountName = 'Northern Trail Outfitters - Apparel';
	// }

	// if ( accountParam === 'nto-apparel' ) {
	// 	accountName = 'Northern Trail Outfitters - Apparel';
	// }

	// if ( accountParam === 'nto-electronics' ) {
	// 	accountName = 'Northern Trail Outfitters - Electronics';
	// }

	// if ( accountParam === 'nto-general' ) {
	// 	accountName = 'Northern Trail Outfitters';
	// 	userName = 'Dan';
	// }

	// let notificationsBadgeIsActive = triggerParam === 'notificationsBadge' || null;




</script>
