<div class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch slds-container_large">
	<div class="slds-col slds-p-horizontal_medium slds-m-bottom_medium slds-size_1-of-1">
		<div class="slds-panel-box">
			<img style="margin: 0 auto;display: block;" src="/images/slices/segment-builder.details-and-activation.wizard-step-2.svg" />
		</div>
	</div>
	<div class="slds-col slds-p-horizontal_medium slds-size_3-of-4">
		<div class="slds-panel-box">
			<div class="slds-panel-box__header slds-p-around_small">Segment Details</div>
			<div class="slds-panel-box__body">
				<div id="details-contents" class="slds-grid slds-gutters_x-small slds-grid_align-spread slds-wrap slds-p-horizontal_medium slds-p-bottom_xx-large">
					<div id="segment-name" class="slds-col slds-p-vertical_medium slds-size_1-of-3 segment-box slds-m-top_medium"><div class="segment-box_label">Segment Name</div></div>
					<div class="slds-col slds-p-vertical_medium slds-size_1-of-3 segment-box slds-m-top_medium">
						<div class="segment-box_label">Segment Type</div></div>
					<div class="slds-col slds-p-vertical_medium slds-size_1-of-3 slds-m-top_medium"></div>
					<div class="slds-col slds-p-vertical_medium slds-size_1-of-3 segment-box slds-m-top_medium">
						<div class="segment-box_label">Category Name</div></div>
					<div class="slds-col slds-p-vertical_medium slds-size_1-of-3 segment-box slds-m-top_medium">
						<div class="segment-box_label">Sub-Category Name</div></div>
					<div class="slds-col slds-p-vertical_medium slds-size_1-of-3 slds-m-top_medium"></div>
					<div id="segment-description" class="slds-col slds-p-vertical_xx-small slds-p-horizontal_small slds-size_2-of-3 segment-box slds-m-top_medium" style="height: 93px;">
						<div class="segment-box_label">Description</div>
					</div>
					<div class="slds-col slds-size_1-of-3 slds-m-top_medium"></div>
					<div class="slds-col slds-size_1-of-3 slds-m-top_medium">
						<div>
							<div class="slds-form-element">
								<div class="slds-form-element__control">
									<div class="slds-combobox_container slds-size_small">
										<div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
											<div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
												<input type="text" class="slds-input slds-combobox__input slds-combobox__input-value" id="combobox-unique-id-7" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Select an Option" readonly="" value="Update Daily"
												/>
												<span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
													<img src="/images/icons/down.dark-blue.svg" height="6"/>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slds-col slds-size_2-of-3 slds-m-top_medium"></div>
					<div class="slds-col slds-size_1-of-3 slds-m-top_medium">
						<div class="slds-form-element">
							<label class="slds-checkbox_toggle slds-grid">
								<input type="checkbox" name="checkbox-toggle-2" value="checkbox-toggle-2" aria-describedby="checkbox-toggle-2" />
								<span id="checkbox-toggle-2" class="slds-checkbox_faux_container slds-m-right_medium" aria-live="assertive">
									<span class="slds-checkbox_faux"></span>
									<span class="slds-checkbox_on"></span>
									<span class="slds-checkbox_off"></span>
								</span>
								<span class="slds-form-element__label slds-m-bottom_none">Persistent</span>
							</label>
						</div>
					</div>
					<div class="slds-col slds-size_2-of-3 slds-m-top_medium"></div>
					<div class="slds-col slds-size_1-of-3 slds-m-top_medium">
						<div class="slds-form-element">
							<label class="slds-checkbox_toggle slds-grid">
								<input id="activate-toggle" type="checkbox" name="checkbox-toggle-2" value="checkbox-toggle-2" aria-describedby="checkbox-toggle-2" checked="checked" />
								<span id="checkbox-toggle-2" class="slds-checkbox_faux_container slds-m-right_medium" aria-live="assertive">
									<span class="slds-checkbox_faux"></span>
									<span class="slds-checkbox_on"></span>
									<span class="slds-checkbox_off"></span>
								</span>
								<span class="slds-form-element__label slds-m-bottom_none">Activate</span>
							</label>
						</div>
					</div>
					<div class="slds-col slds-size_2-of-3 slds-m-top_medium"></div>
				</div>
				<div id="activation-header" class="slds-panel-box__header slds-p-horizontal_small slds-hide slds-grid">
					<div class="slds-col slds-size_1-of-3 slds-m-top_small">Activation</div>
					<div class="slds-col slds-size_2-of-3 slds-m-around_x-small">
						<button class="slds-button slds-m-horizontal_large slds-button_brand">All</button>
						<button class="slds-button slds-m-horizontal_large">Publisher</button>
						<button class="slds-button slds-m-horizontal_large">Marketer</button>
						<button class="slds-button slds-m-horizontal_large">Partners</button>
					</div>
				</div>
				<div id="activation-contents" class="slds-hide slds-grid slds-gutters_x-small slds-grid_align-spread slds-wrap slds-p-horizontal_medium slds-p-bottom_xx-large"></div>
				<div id="activation-contents-controls" class="slds-col slds-m-vertical_large slds-p-horizontal_medium slds-size_1-of-1">
					<button class="slds-button slds-button_neutral">Back</button>
					<button id="saveButton" onclick="nextPage();" class="slds-button slds-button_brand" style="margin-left: 1.5rem">Save</button>
					<button class="slds-button slds-button_neutral">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div class="slds-col slds-p-right_medium slds-size_1-of-4">
		<div class="slds-panel-box" style="height: 100%;">
			<div class="slds-panel-box__header slds-p-around_small">Rules Reference</div>
			<div class="slds-panel-box__body">
				<img id="segment-builder.details-and-activation.rules-reference" src="/images/slices/segment-builder.details-and-activation.rules-reference.svg" />
			</div>
		</div>
	</div>
</div>

<script>
	const activations = <%- JSON.stringify(locals.localization.manage_segments.details_and_activation.activations) %>;

	const getSegmentName = () => '<%= locals.localization.manage_segments.details_and_activation.segment_name %>';
	const getSegmentDescription = () => '<%= locals.localization.manage_segments.details_and_activation.segment_description %>';
	const nextPage = <%- locals.localization.manage_segments.details_and_activation.save_action %>;
	const activateByDefault = <%= locals.localization.manage_segments.details_and_activation.activate_by_default %>;
</script>