<%_
console.group(`
============================================================
Demuxe: including \`engine/includes/magick-flows/magick-flows-contents.ejs\` now...
------------------------------------------------------------
`);

	let thisMagickFlowConfig = locals.magickFlows[locals.magickFlows.urlSlugsMapToFlowDirectories[locals.urlSlug]];
	let preLoadImages = '';
_%>
<script type="text/javascript">
	const thisMagickFlowConfig =<%- JSON.stringify(thisMagickFlowConfig)%>;
	console.group('[ includes/magick-flows/magick-flows-contents.ejs:14 ] thisMagickFlowConfig:');
	console.dir(thisMagickFlowConfig);
	console.groupEnd();
</script>
<%_
	let showMetaDataMissingError = true;
	let thisMagickFlowMetaData = thisMagickFlowConfig.metaData;

	const webRootPath = `/${locals.magickFlows.directoryName}/${locals.magickFlows.urlSlugsMapToFlowDirectories[locals.urlSlug]}`;
	const mainContentPath = `${webRootPath}/main/`;
	const assetsContentPath = `${webRootPath}/assets/`;


	// thisMagickFlowMetaData.forEach(function(node, nodeIndex) {
	// 	console.log(`[ engine/includes/magick-flows/magick-flows-contents.ejs:27 ] ${nodeIndex}: ${JSON.stringify(node)}`);
	// });


	thisMagickFlowMetaData.forEach(function(node, nodeIndex) {


		const mainContentWebRootUrl = `${mainContentPath}${node.fileName}`;
		const clickHintsAssetWebRootUrl = `${assetsContentPath}${node.id}___click-hint.png`;
		const showHeader = node.hasStickyHeader === true || false;
		const showFooter = node.hasStickyFooter === true || false;
		const nodeData = node.data;
		const nodeNotes = node.notes;


		let headerHeight = node.stickyHeaderHeight | 0;
		let footerHeight = node.stickyFooterHeight | 0;

		const headerWebRootUrl = `${assetsContentPath}${node.stickyHeaderFileName}`;
		const footerWebRootUrl = `${assetsContentPath}${node.stickyFooterFileName}`;

		// Calculate the height of our scrollable area - 20 magick number for padding ¯\_(ツ)_/¯
		let mainContentScrollableAreaHeight = ((812 - (headerHeight + footerHeight)) + 20);

			// mainContentScrollableAreaHeight = ((node.dimensions.height - (headerHeight + footerHeight)) + 20);
		if (node.dimensions.height <= 812) {
			// mainContentScrollableAreaHeight = ((node.dimensions.height - (headerHeight + footerHeight)) + 20);
			mainContentScrollableAreaHeight = node.dimensions.height;
		}
		// const mainContentScrollableAreaHeightMax = 812;
		// const mainContentScrollableAreaHeightPossibilityOne = node.dimensions.height;




		// let OMG_EFFING_PAD_SLIDES_2_AND_4 = 
		// let mainContentScrollableAreaHeight = ((812 - (headerHeight + footerHeight)) + 0);


		const isEjs = node.dimensions.type === 'ejs';
		const isPng = node.dimensions.type === 'png';
		const isSvg = node.dimensions.type === 'svg';
		const isMp4 = node.dimensions.type === 'mp4';
		const isGif = node.dimensions.type === 'gif';
		const isJpeg = node.dimensions.type === 'jpg';
		let thisMagickFlowsSlideClassnames = {
			'magick-flows-slide': true
		};

		preLoadImages += `<img
			class=""
			src="${mainContentWebRootUrl}"
			height="0"
			width="0"
			>
		`;



		let iosNotificationHtmlOut = '';
		const showIosNotification = node.showIosNotification === true || false;
		if ( showIosNotification === true ) {
			const iosNotificationWebRootUrl = `${assetsContentPath}${node.iosNotificationFileName}`;
			iosNotificationHtmlOut = `
				<div
					id="ios-notification--slide-${node.screensIndex}"
					class="ios-notification ios-notification--slide-${node.screensIndex}  magick-flows-slide-asset"
				><img src="${iosNotificationWebRootUrl}" /></div>
			`
		}




		let drawerFromTopHtmlOut = '';
		const showDrawerFromTop = node.showDrawerFromTop === true || false;
		if ( showDrawerFromTop === true ) {
			const drawerFromTopWebRootUrl = `${assetsContentPath}${node.drawerFromTopFileName}`;
			drawerFromTopHtmlOut = `
				<div
					id="drawer-from-top--slide-${node.screensIndex}"
					class="drawer drawer-from-top drawer-from-top--slide-${node.screensIndex}  magick-flows-slide-asset"
				><img src="${drawerFromTopWebRootUrl}" /></div>
			`
		}



		let drawerFromLeftHtmlOut = '';
		const showDrawerFromLeft = node.showDrawerFromLeft === true || false;
		if ( showDrawerFromLeft === true ) {
			const drawerFromLeftWebRootUrl = `${assetsContentPath}${node.drawerFromLeftFileName}`;
			drawerFromLeftHtmlOut = `
				<div
					id="drawer-from-left--slide-${node.screensIndex}"
					class="drawer drawer-from-left drawer-from-left--slide-${node.screensIndex}  magick-flows-slide-asset"
				><img src="${drawerFromLeftWebRootUrl}" /></div>
			`
		}


		let drawerFromBottomHtmlOut = '';
		const showDrawerFromBottom = node.showDrawerFromBottom === true || false;
		if ( showDrawerFromBottom === true ) {
			const drawerFromBottomWebRootUrl = `${assetsContentPath}${node.drawerFromBottomFileName}`;
			drawerFromBottomHtmlOut = `
				<div
					id="drawer-from-bottom--slide-${node.screensIndex}"
					class="drawer drawer-from-bottom drawer-from-bottom--slide-${node.screensIndex}  magick-flows-slide-asset"
				><img src="${drawerFromBottomWebRootUrl}" /></div>
			`
		}


		let drawerFromRightHtmlOut = '';
		const showDrawerFromRight = node.showDrawerFromRight === true || false;
		if ( showDrawerFromRight === true ) {
			const drawerFromRightWebRootUrl = `${assetsContentPath}${node.drawerFromRightFileName}`;
			drawerFromRightHtmlOut = `
				<div
					id="drawer-from-right--slide-${node.screensIndex}"
					class="drawer drawer-from-right drawer-from-right--slide-${node.screensIndex}  magick-flows-slide-asset"
				><img src="${drawerFromRightWebRootUrl}" /></div>
			`
		}


_%>

<div
	class="slds-grid slds-grid_vertical magick-flows--slide-<%=nodeIndex%>  <%= classnames(thisMagickFlowsSlideClassnames);%>"
	data-slide="<%=nodeIndex%>"
	id="magick-flows--slide-<%=nodeIndex%>"
>
<%_ if (showHeader) { _%>
	<header class="slds-col">
		<div class="magick-flows-stickey-header_container">
			<img
				id="sticky-header--slide-<%=nodeIndex%>"
				class="sticky-header "
				src="<%=headerWebRootUrl%>"
			/>
		</div>
	</header>
<%_ } _%>

<%
	
		echo(`
			<div
				class="slds-col"
			>
		`);

		if (isPng || isSvg || isGif || isJpeg) {
			echo(`
				<div
					class="slds-scrollable"
					style="height: ${mainContentScrollableAreaHeight}px; margin-bottom: ${footerHeight}px;"
				>
					<img
						class="screenshot auto-replace is-image "
						id="screenshot--slide-${nodeIndex}"
						src="${mainContentWebRootUrl}"
					>
				</div>
			`);
		} else if (isEjs) {
			echo(`
				<div
					class="slds-scrollable"
				>
			`);
				echo(include(mainContentWebRootUrl))
			echo(`
				</div>
			`);
		} else if (isMp4) {
			echo(`
				<video
					autoplay
					class="auto-replace is-video "
					id="screenshot-wrapper--slide-${nodeIndex}"
					playsinline
				>
					<source
						class="screenshot auto-replace "
						id="screenshot--slide-${nodeIndex}"
						src="${mainContentWebRootUrl}"
						type="video/mp4"
					>
					Your browser does not support the video tag.
				</video>
			`);
		}



		echo(`</div>`)
	


%>


<%_ if (showFooter) { _%>
	<footer class="magick-flows-stickey-footer_container slds-col">
		<img
			id="sticky-footer--slide-<%=nodeIndex%>"
			class="sticky-footer "
			src="<%=footerWebRootUrl%>"
		/>
	</footer>
<%_ } _%>
	<%- drawerFromTopHtmlOut %>
	<%- drawerFromRightHtmlOut %>
	<%- drawerFromBottomHtmlOut %>
	<%- drawerFromLeftHtmlOut %>
	<%- iosNotificationHtmlOut %>

</div>

<%- include('components/toast', {
	id: `${node.id}-toast`,
	contents: `${JSON.stringify(node.notes)}`,
	title: 'Notes',
	theme: 'success'
}) %>


<%_ }); _%>

<div class="preload-images">
<%- preLoadImages %>
</div>

<%_
console.log(`...end \`engine/includes/magick-flows/magick-flows-contents.ejs\`
------------------------------------------------------------
`);
console.groupEnd();
%>