<div class="slds-m-horizontal_medium">
<%
	let urlSlugToManage = locals.sanitizedQueryParams.urlSlug || Object.keys(locals.magickFlows.urlSlugsMapToFlowDirectories)[0];
	let thisMagickFlowConfig = locals.magickFlows[urlSlugsMapToFlowDirectories[urlSlugToManage]];
	let thisMagickFlowMetaData = thisMagickFlowConfig.metaData;
	let thisMagickFlowMetaData2 = thisMagickFlowConfig.metaData2;
	let showMetaDataMissingError = true;

%>
<script type="text/javascript">
	const thisMagickFlowConfig =<%- JSON.stringify(thisMagickFlowConfig)%>;
	console.log('thisMagickFlowConfig', thisMagickFlowConfig);
</script>

<h1 class="slds-m-top_xx-large slds-text-heading_large">
	Magick Flow Dashboard: <a href="/<%= locals.sanitizedQueryParams.urlSlug %>"><%= locals.sanitizedQueryParams.urlSlug %></a>
</h1>

	<div class="slds-grid slds-gutters">
<%
	locals.magickFlows.urlSlugs.forEach(function(urlSlug, slugIndex) {
%>
	<div class="slds-col slds-box slds-p-around_small">
		<a href="/<%= locals.siteSection %>?urlSlug=<%= urlSlug %>"><%= urlSlug %></a>
	</div>
<%
	});
%>
	</div>

<%

	const webRootPath = `${locals.magickFlows.directoryName}/${magickFlows.urlSlugsMapToFlowDirectories[locals.urlSlug]}`;
	const mainContentPath = `${webRootPath}/main/`;
	const assetsContentPath = `${webRootPath}/assets/`;

	thisMagickFlowMetaData2.forEach(function(node, nodeIndex) {


		const mainContentWebRootUrl = `${mainContentPath}${node.fileName}`;
		const showHeader = node.hasStickyHeader === true || false;
		const showFooter = node.hasStickyFooter === true || false;
		const nodeData = node.data;


		let headerHeight = node.stickyHeaderHeight | 0;
		let footerHeight = node.stickyFooterHeight | 0;

		const headerWebRootUrl = `${assetsContentPath}${node.stickyHeaderFileName}`;
		const footerWebRootUrl = `${assetsContentPath}${node.stickyFooterFileName}`;


		// Calculate the height of our scrollable area - 20 magick number for padding ¯\_(ツ)_/¯
		let mainContentScrollableAreaHeight = ((812 - (headerHeight + footerHeight)) + 20);


		const isPng = node.dimensions.type === 'png';
		const isSvg = node.dimensions.type === 'svg';
		const isMp4 = node.dimensions.type === 'mp4';
		const isGif = node.dimensions.type === 'gif';
		const isJpeg = node.dimensions.type === 'jpg';
		let thisMagickFlowsSlideClassnames = {
			'magick-flows-slide-showoff': true
		};

%>

<div
	class="slds-m-horizontal_medium slds-m-top_xx-large"
>
	<p class="slds-m-vertical_medium">
		<%=nodeIndex%>: <%=mainContentWebRootUrl%>
	</p>
<div
	class=" slds-grid slds-gutters  <%= classnames(thisMagickFlowsSlideClassnames);%>"
	data-slide="<%=nodeIndex%>"
	id="magick-flows--slide-<%=nodeIndex%>"
>
<% if (showHeader) { %>
	<header class="slds-col slds-box slds-theme_shade slds-theme_alert-texture">
		<img
			id="sticky-header--slide-<%=nodeIndex%>"
			class="sticky-header "
			src="<%=headerWebRootUrl%>"
			style="width: 25vw; max-width: 25vw;"
		/>
	</header>
<% } else { %>
	<header class="slds-col slds-box slds-theme_shade slds-theme_alert-texture">
		<p>NO HEADER IMAGE</p>
	</header>
<% } %>


	<div
		class="slds-col slds-box slds-theme_shade slds-theme_alert-texture"

	>
<% if (isPng || isSvg || isGif || isJpeg) { %>
		<img
			id="screenshot--slide-<%=nodeIndex%>"
			src="<%=mainContentWebRootUrl%>"
			style="width: 25vw; max-width: 25vw;"
		>
<% } else if (isMp4) { %>
		<video
			autoplay
			class="auto-replace is-video "
			id="screenshot-wrapper--slide-<%=nodeIndex%>"
			playsinline
			style="width: 25vw; max-width: 25vw;"
		>
			<source
				class="screenshot auto-replace "
				id="screenshot--slide-<%=nodeIndex%>"
				src="<%=mainContentWebRootUrl%>"
				type="video/mp4"
			>
			Your browser does not support the video tag.
		</video>
<% } %>
	</div>

<% if (showFooter) { %>
	<footer class=" slds-col slds-box slds-theme_shade slds-theme_alert-texture">
		<img
			id="sticky-footer--slide-<%=nodeIndex%>"
			class="sticky-footer "
			src="<%=footerWebRootUrl%>"
			style="width: 25vw; max-width: 25vw;"
		/>
	</footer>
<% } else { %>
	<footer class="slds-col slds-box slds-theme_shade slds-theme_alert-texture">
		<p>NO FOOTER IMAGE</p>
	</footer>
<% } %>
</div>

</div>


<% }); %>



<%

// Fake temp data
const screens = [
	"0000___google___has-header__has-footer___INDEX=0.png",
	"0100___homepage-1___has-header__has-footer___INDEX=1.png",
	"0200___homepage-2___has-header__has-footer___INDEX=2.png",
	"0300___mortgages-1___has-header__has-footer___INDEX=3.png",
	"0400___homepage-3___has-header__has-footer___INDEX=4.png",
	"0500___valora-home___INDEX=5.png",
	"0600___valora-email-field-blank___INDEX=6.png",
	"0700___valora-email-field-filled___INDEX=7.png",
	"0800___valora-use-camera___INDEX=8.png",
	"0900___valora-fake-video-gif___INDEX=9.gif",
	"1000___valora-fake-video-found-home___INDEX=10.png",
	"1100___valora-results___INDEX=11.png",
	"1200___valora-details___INDEX=12.png",
	"1300___mortgage-app-step-0___has-header___INDEX=13.png",
	"1400___mortgage-app-step-2___has-header__has-footer___STYLES=margin-top--20px__outline--outline-1px-limegreen___INDEX=14.png"
];


%>
</div>