<%

/**
 * This file, when included, will create an slds modal in-place.

	const data = {
		modalId: 'myModal',
		size: 'medium', // 'small', 'medium', 'large'
		handleClose: '', // if omitted, modal will close as expected when x is clicked
		contentsHeader: '',
		contentsHeaderTagline: '',
		contentsMain: '',
		contentsFooter: '',
		isOpen: false
	};

	include('components/modal', data);


 */

const headerClasses = classnames('slds-modal__header', { 'slds-modal__header_empty': !locals.contentsHeader });
const modalClasses = classnames('slds-modal', `slds-modal_${locals.size}`, { 'slds-fade-in-open': locals.isOpen });
const backdropClasses = classnames('slds-backdrop', { 'slds-backdrop_open' : locals.isOpen });
const modalId = locals.modalId || 'myModal';
const handleClose = locals.handleClose || `function modalCloser () {
	document.querySelector('.slds-modal').classList.remove('slds-fade-in-open');
	document.querySelector('.slds-backdrop').classList.remove('slds-backdrop_open');
}`;
%>

<section role="dialog" tabindex="-1" aria-labelledby="<%- modalId %>-heading-01" aria-modal="true" aria-describedby="<%- modalId %>" class="<%=modalClasses%>">
	<div class="slds-modal__container">
		<header class="<%=headerClasses%>">
			<button onclick="(<%- handleClose %>)()" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"> <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/utility-sprite/svg/symbols.svg#close" /> </svg> <span class="slds-assistive-text">Close</span> </button>
			<h2 id="<%- modalId %>-heading-01" class="slds-text-heading_medium slds-hyphenate">
				<%- locals.contentsHeader %>
			</h2>
			<% if (locals.contentsHeaderTagline) { %>
			<p class="slds-m-top_x-small">
			<%- locals.contentsHeaderTagline %>
			</p>
			<% } %>
		</header>
		<div class="slds-modal__content slds-p-around_medium" id="<%- modalId %>">
			<%- locals.contentsMain %>
		</div>
		<% if (locals.contentsFooter) { %>
		<footer class="slds-modal__footer">
			<%- locals.contentsFooter %>
		</footer>
		<% } %>
	</div>
</section>
<div id="<%- modalId %>Backdrop" class="<%=backdropClasses%>">
</div>
