<%
	// Creates a page-header in place when included. See /engine/components-showcase-contents.ejs
%>
<div class="slds-page-header slds-page-header_record-home">
	<div class="slds-page-header__row">
		<div class="slds-page-header__col-title">
			<div class="slds-media">
				<div class="slds-media__figure">
					<span class="slds-icon_container slds-icon-standard-opportunity">
						<svg class="slds-icon slds-page-header__icon" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<%- locals.svgIcon %>" />
						</svg>
					</span>
				</div>
				<div class="slds-media__body">
					<div class="slds-page-header__name">
						<div class="slds-page-header__name-title">
							<h1>
								<span><%= locals.subTitle %></span>
								<span class="slds-page-header__title slds-truncate" title="<%= locals.title %>"><%= locals.title %></span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slds-page-header__col-actions">
			<div class="slds-page-header__controls">
				<% locals.controls && locals.controls.forEach((control) => { %>
					<div class="slds-page-header__control">
						<% switch(control.type) {
							case 'button-group': %>
							<div class="slds-button-group" role="group">
							<% control.items.forEach((data) => { %>
								<%- include('components/button', data) %>
							<% }) %>
							</div>
							<% break;
							case 'combobox': %>
								<div class="slds-button">
									<%- include('components/combobox', control) %>
								</div>
							<% break;
							case 'button': %>
								<% if (control.hasOverflow) {%><div class="slds-button"><% } %>
									<%- include('components/button', control) %>
								<% if (control.hasOverflow) {%></div><% } %>
							<% break;
						} %>
					</div>
					<% });
				%>
			</div>
		</div>
	</div>
	<% if (locals.details) { %>
		<div class="slds-page-header__row slds-page-header__row_gutters">
			<div class="slds-page-header__col-details">
				<ul class="slds-page-header__detail-row">
					<% locals.details.forEach((detail) => { %>
						<li class="slds-page-header__detail-block">
							<div class="slds-text-title slds-truncate" title="<%= detail.titleAssistive ? detail.titleAssistive : detail.title %>"><%- detail.title %></div>
							<div class="slds-truncate" title="<%= detail.descriptionAssistive ? detail.descriptionAssistive : detail.description %>"><%- detail.description %></div>
						</li>
					<% }); %>
				</ul>
			</div>
		</div>
	<% } %>
</div>