<!DOCTYPE html>
<html>
	<head>
		<%- include('includes/global/head') _%>
		<% if (locals.siteSection) { %>
		<%_
			try {
		_%>
			<%- include(`includes/${locals.siteSection}/head`) _%>
		<%_
			}
			catch( error ) {

                if ( error.message.includes(`Could not find the include file "includes/${locals.siteSection}/head"`)) {
	                console.warn(`
[ WARNING ] \`includes/${locals.siteSection}/head\` missing.

Demuxe attempts to automagically include content to be included in the <head>
of the webpage.

This include is completely optional, but the feature is available to use, and
currently, the page in question is not using it.
                                `);
				} else {
					console.error(error);
				}
			}
		_%>
		<% } %>
	</head>

	<body>
		<div id="content-wrapper">
			<div id="content" class="slds-p-vertical_medium slds-container_large">
<%_
		try {
_%>
				<%- include(`${locals.pageContents}`, {'path': locals.path}) %>
<%_
		}
		catch(error) {
_%>
				<div class="slds-p-horizontal_medium ">
					<h1 class="slds-text-heading_large slds-m-top_large">Error</h1>

					<div class="slds-box slds-theme_error slds-theme_alert-texture slds-m-top_medium">
						<p><%- error %></p>
					</div>
				</div>
<%_
			console.error(error);
		}
_%>
			</div>
		</div>

		<%- include('includes/global/footer-scripts') %>
	</body>
</html>
