<!DOCTYPE html>
<html>
	<head>
		<%- include('includes/global/head') %>
	</head>

	<body class="magick-flow">
		<div id="content-wrapper">
			<div id="content" class="">
				<script>console.log('<%= locals.root %>');</script>
				<%- include(`includes/${locals.siteSection}/contents`) %>
			</div>
		</div>

		<%- include('components/toast', {
			contents: 'Will be available only under ‘Northern Trail Outfitters - Apparel&rsquo; account as &lsquo;Winter Jackets &ndash; New High Value&rsquo;',
			title: '&lsquo;Winter Jackets Propensity Customers&rsquo; segment provisioned successfully.',
			theme: 'success'			
		}) %>

		<%- include('includes/global/footer-scripts') %>
	</body>
</html>
