<!DOCTYPE html>
<html>
	<head>
		<%- include('includes/global/head') %>
	</head>

	<body class="<%= locals.localization.body_class %>">
		<%- include('includes/global/header') %>
		<div id="content-wrapper">
			<div id="content" class="slds-container_large">
				<script>console.log('<%= locals.root %>');</script>
				<%- include(`${locals.pageContents}`) %>
			</div>
		</div>

		<%- include('includes/global/footer-scripts') %>
		<%- include('includes/rpd/controller.ejs') %>
	</body>
</html>
