<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p><%= title %> Page</p>
  <p><%- include('includes/test') %></p>
  <p>Value of query param ?param=<%= locals.param %></p>
  
  </p>
</body>

</html>