<header class="slds-global-header_container">
	<div class="slds-global-header slds-grid slds-grid_align-spread" style="box-shadow: none;">
		<div class="slds-global-header__item">
			<div class="fake-header">
				<a href="/">
					<img src="/images/sf-logo.svg" />
				</a>
			</div>
		</div>
	</div>
	<div class="slds-context-bar slds-p-left_medium" id="primaryNav">
		<%- include('includes/global/global-nav'); %>
	</div>
</header>
<div id="subheader-wrapper" class="slds-p-around_medium slds-m-bottom_small<%= locals.headerVariant === 'einstein' ? ' einstein' : '' %>">
	<% if (locals.breadcrumbs) { %>
	<nav role="navigation" aria-label="Breadcrumbs" class="slds-p-bottom_x-small">
		<ol class="slds-breadcrumb slds-list_horizontal slds-wrap">
			<% locals.breadcrumbs.forEach(function(crumb) { %> <li class="slds-breadcrumb__item slds-text-title_caps"><a href="javascript:void(0);"><%=crumb%></a></li> <% }) %>
		</ol>
	</nav>
	<% } %>

	<div id="subheader" class="slds-container_large">
		<div class="slds-grid slds-grid_vertical-align-center">
			<div>
				<h1 class="slds-text-heading_medium"><%- locals.title || (locals.localization[locals.page] && locals.localization[locals.page].sub_header_text)
				|| (locals.localization[locals.site_section] && locals.localization[locals.site_section].sub_header_text)
				|| locals.sub_header_text
				|| '' %></h1>
			</div>


			<% if (locals.subHeaderVariant === 'hasButton') {
				// console.log('customizable button in sub-header please');
				const buttonClasses = classnames('slds-button slds-button_neutral',
					{'slds-button_icon slds-button_icon-more slds-button_icon-border-filled': locals.subHeaderButtonIsIcon })
			%>
				<div class="slds-col_bump-left slds-p-right_medium">
					<button class="<%= buttonClasses %>"><%-locals.subHeaderButtonLabel%></button>
				</div>
			<% } else if (locals.subHeaderVariant === 'hasText') { %>
				<div class="slds-col_bump-left slds-p-right_medium">
					<%= (locals.localization[locals.page] && locals.localization[locals.page].sub_header_text)
					|| (locals.localization[locals.site_section] && locals.localization[locals.site_section].sub_header_text)
					|| locals.sub_header_text
					|| '' %>
				</div>
			<% } %>


		</div>
		<% if (locals.subHeaderVariant === 'hasCustomSubheader')  {
			// console.log('customizable sub-header please');
			const isFilePath = /([A-z0-9-_+]+\/)*([A-z0-9]+\.(ejs|js|md|svg))$/mg;

			if (locals.localization[locals.page] && locals.localization[locals.page].subHeaderContents) { %>
				<%- (locals.localization[locals.page].subHeaderContents.match(isFilePath) && include(locals.localization[locals.page].subHeaderContents)) || locals.localization[locals.page].subHeaderContents %>
			<% } else if (locals.localization[locals.site_section] && locals.localization[locals.site_section].subHeaderContents) { %>
				<%- (locals.localization[locals.site_section].subHeaderContents.match(isFilePath) && include(locals.localization[locals.site_section].subHeaderContents)) || locals.localization[locals.site_section].subHeaderContents %>
			<% } else if (locals.subHeaderContents) { %>
				<%- (locals.subHeaderContents.match(isFilePath) && include(locals.subHeaderContents)) || locals.subHeaderContents %>
			<% } else {
				console.log(`locals.subHeaderVariant === 'hasCustomSubheader' specified, but no subHeaderContents were specified.`); %>
				<!-- output nothing -->
			<% }
		} %>
	</div>
</div>