<script>
	let clicks = parseInt( window.location.hash.replace( '#', '' ) ) || 0;
</script>
<%
	const thisMagickFlowScreenUrl = `/magick-flows/${demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]}/${locals.demoMagickFlows[demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]].screens[parseInt( locals.sanitizedQueryParams.screen )]}`;
	console.log(`thisMagickFlowScreenUrl: `, thisMagickFlowScreenUrl);
	

	const thisMagickFlowScreenHeaderUrl = `includes/${locals.siteSection}/${demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]}/${parseInt( locals.sanitizedQueryParams.screen )}.header.png`;
	console.log(`thisMagickFlowScreenHeaderUrl: `, thisMagickFlowScreenHeaderUrl);

	const thisMagickFlowScreenFooterUrl = `includes/${locals.siteSection}/${demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]}/${parseInt( locals.sanitizedQueryParams.screen )}.footer.png`;
	console.log(`thisMagickFlowScreenFooterUrl: `, thisMagickFlowScreenFooterUrl);

	let thisMagickFlowScreenCustomContentStylesMarginTop = '0px';
	try {
		thisMagickFlowScreenCustomContentStylesMarginTop = `${localization.magicFlowsMetaData[locals.urlSlug]['customContentStyles'][locals.sanitizedQueryParams.screen]['margin-top']}`;
	}
	catch(error) {
		console.error(error);
	}
	console.log(`thisMagickFlowScreenCustomContentStylesMarginTop: `, thisMagickFlowScreenCustomContentStylesMarginTop);


	let thisMagickFlowScreenCustomContentStylesMarginBottom = '0px';
	try {
		thisMagickFlowScreenCustomContentStylesMarginBottom = `${localization.magicFlowsMetaData[locals.urlSlug]['customContentStyles'][locals.sanitizedQueryParams.screen]['margin-bottom']}`;
	}
	catch(error) {
		console.error(error);
	}
	console.log(`thisMagickFlowScreenCustomContentStylesMarginBottom: `, thisMagickFlowScreenCustomContentStylesMarginBottom);


	const isPng = thisMagickFlowScreenUrl.endsWith('.png');
	const isSvg = thisMagickFlowScreenUrl.endsWith('.svg');
	const isMp4 = thisMagickFlowScreenUrl.endsWith('.mp4');
	const isGif = thisMagickFlowScreenUrl.endsWith('.gif');
	const isJpeg = thisMagickFlowScreenUrl.endsWith('.jpg');
	
	let showHeader = true;
	showHeader = !(thisMagickFlowScreenUrl.includes('no-header'));
	
	let showFooter = true;
	showFooter = !(thisMagickFlowScreenUrl.includes('no-footer'));

	console.log(`isMp4: `, isMp4);
	console.log(`isPng: `, isPng);
	console.log(`showHeader: `, showHeader);
	// showHeader = false;
	// showFooter = false;
%>

<style type="text/css">
.slds-global-footer_container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
}

</style>



<%
	locals.demoMagickFlows[demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]].screens.forEach(function(fileName, fileIndex) {
%>
<%
		const thisMagickFlowScreenUrl = `/magick-flows/${demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]}/${locals.demoMagickFlows[demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]].screens[parseInt( fileIndex )]}`;


		const thisMagickFlowScreenHeaderUrl = `includes/${locals.siteSection}/${demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]}/${parseInt( fileIndex )}.header.png`;

		const thisMagickFlowScreenFooterUrl = `includes/${locals.siteSection}/${demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]}/${parseInt( fileIndex )}.footer.png`;


		let thisMagickFlowScreenCustomContentStylesMarginTop = '0px';
		try {
			thisMagickFlowScreenCustomContentStylesMarginTop = `${localization.magicFlowsMetaData[locals.urlSlug]['customContentStyles'][fileIndex]['margin-top']}`;
		}
		catch(error) {
			console.error(error);
		}


		let thisMagickFlowScreenCustomContentStylesMarginBottom = '0px';
		try {
			thisMagickFlowScreenCustomContentStylesMarginBottom = `${localization.magicFlowsMetaData[locals.urlSlug]['customContentStyles'][fileIndex]['margin-bottom']}`;
		}
		catch(error) {
			console.error(error);
		}


		const isPng = thisMagickFlowScreenUrl.endsWith('.png');
		const isSvg = thisMagickFlowScreenUrl.endsWith('.svg');
		const isMp4 = thisMagickFlowScreenUrl.endsWith('.mp4');
		const isGif = thisMagickFlowScreenUrl.endsWith('.gif');
		const isJpeg = thisMagickFlowScreenUrl.endsWith('.jpg');
		
		let showHeader = true;
		showHeader = !(thisMagickFlowScreenUrl.includes('no-header'));
		
		let showFooter = true;
		showFooter = !(thisMagickFlowScreenUrl.includes('no-footer'));
%>


		<article 
			id="magick-flows--slide-<%=fileIndex%>"
			data-slide="<%=fileIndex%>" 
		>


			<script>
				console.log(`thisMagickFlowScreenUrl: <%=thisMagickFlowScreenUrl%>`);
				console.log(`fileIndex: <%=fileIndex%>`);
				console.log(`clicks == fileIndex: `, clicks == <%=fileIndex%>);
				console.log('thisMagickFlowScreenHeaderUrl:  <%= thisMagickFlowScreenHeaderUrl %>');
				console.log(`thisMagickFlowScreenFooterUrl:  <%=thisMagickFlowScreenFooterUrl%>`);
			</script>

		<% if (showHeader) { %>
			<header class="slds-global-header_container">
				<img
					id="sticky-header--slide-<%=fileIndex%>"
					class="sticky-footer "
					src="<%=thisMagickFlowScreenHeaderUrl%>"
				/>
			</header>
		<% } %>


		<% if (isPng || isSvg || isGif || isJpeg) { %>
			<img
				class="screenshot auto-replace is-image "
				id="screenshot--slide-<%=fileIndex%>"
				style="position: absolute; width: 100%; top: <%=thisMagickFlowScreenCustomContentStylesMarginTop%> ; left: 0; bottom: <%=thisMagickFlowScreenCustomContentStylesMarginBottom%>; right: 0;"
				src="<%=thisMagickFlowScreenUrl%>"
			>
		<% } else if (isMp4) {%>
			<video
				autoplay
				class="auto-replace is-video "
				id="screenshot-wrapper--slide-<%=fileIndex%>"
				playsinline
				style="height: 100vh; width: auto;"
			>
				<source
					class="screenshot auto-replace "
					id="screenshot--slide-<%=fileIndex%>"
					src="<%=thisMagickFlowScreenUrl%>"
					type="video/mp4"
				>
				Your browser does not support the video tag.
			</video>
		<% } %>
			
		<% if (showFooter) { %>
			<footer class="slds-global-footer_container">
				<img
					id="sticky-footer--slide-<%=fileIndex%>"
					class="sticky-footer "
					src="<%=thisMagickFlowScreenFooterUrl%>"
				/>
			</footer>
		<% } %>

		</article>



<% }); %>





<div id="preload" style="display: none;">
	<% locals.demoMagickFlows[demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]].screens.forEach(function(fileName){ %>
		<% console.log(`fileName: `, fileName); %>
		<img src="/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/<%=fileName%>" width="1" height="1" />
	<% }); %>
</div>
