<%_
	locals.demoMagickFlows[demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]].screens.forEach(function(fileName, fileIndex) {

		const thisMagifFlowPath = demoMagickFlows[demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]].path;
		let thisMagickFlowsSlideClassnames = {
			'magick-flows-slide': true
		};

		const thisMagickFlowScreenUrl = `/magick-flows/${demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]}/${locals.demoMagickFlows[demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]].screens[parseInt( fileIndex )]}`;
		const thisMagickFlowScreenHeaderUrl = `includes/${locals.siteSection}/${demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]}/${parseInt( fileIndex )}.header.png`;
		const thisMagickFlowScreenFooterUrl = `includes/${locals.siteSection}/${demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]}/${parseInt( fileIndex )}.footer.png`;

		let thisMagickFlowScreenCustomContentStylesMarginTop = '0px';
		try {
			thisMagickFlowScreenCustomContentStylesMarginTop = `${localization.magicFlowsMetaData[locals.urlSlug]['customContentStyles'][fileIndex]['margin-top']}`;
		}
		catch(error) {
			console.error(error);
		}


		let thisMagickFlowScreenCustomContentStylesMarginBottom = '0px';
		try {
			thisMagickFlowScreenCustomContentStylesMarginBottom = `${localization.magicFlowsMetaData[locals.urlSlug]['customContentStyles'][fileIndex]['margin-bottom']}`;
		}
		catch(error) {
			console.error(error);
		}


		const isPng = thisMagickFlowScreenUrl.endsWith('.png');
		const isSvg = thisMagickFlowScreenUrl.endsWith('.svg');
		const isMp4 = thisMagickFlowScreenUrl.endsWith('.mp4');
		const isGif = thisMagickFlowScreenUrl.endsWith('.gif');
		const isJpeg = thisMagickFlowScreenUrl.endsWith('.jpg');
		
		let showHeader = true;
		showHeader = !(thisMagickFlowScreenUrl.includes('no-header'));
		if(!showHeader) {
			thisMagickFlowScreenCustomContentStylesMarginTop = 0;
		}
		thisMagickFlowsSlideClassnames['has-header'] = showHeader;

		let showFooter = true;
		showFooter = !(thisMagickFlowScreenUrl.includes('no-footer'));
		if(!showFooter) {
			thisMagickFlowScreenCustomContentStylesMarginBottom = 0;
		}
		thisMagickFlowsSlideClassnames['has-footer'] = showFooter;


		
		// let dimensions = sizeOf(thisMagifFlowPath + thisMagickFlowScreenUrl);
		// console.log(dimensions.width, dimensions.height);


_%>
<div
	class="slds-transition-hide slds-grid slds-grid_vertical  <%= classnames(thisMagickFlowsSlideClassnames);%>"
	data-slide="<%=fileIndex%>"
	id="magick-flows--slide-<%=fileIndex%>"
>
<%_ if (showHeader) { _%>
	<header class="slds-col">
		<div class="slds-global-header_container">
			<img
				id="sticky-header--slide-<%=fileIndex%>"
				class="sticky-footer "
				src="<%=thisMagickFlowScreenHeaderUrl%>"
			/>
		</div>
	</header>
<%_ } _%>


	<div
		class="slds-col"
		style="margin-top: <%=thisMagickFlowScreenCustomContentStylesMarginTop%>; margin-bottom: <%=thisMagickFlowScreenCustomContentStylesMarginBottom%>;"
	>
<%_ if (isPng || isSvg || isGif || isJpeg) { _%>
		<div
			class="slds-scrollable"
		>
			<img
				class="screenshot auto-replace is-image "
				id="screenshot--slide-<%=fileIndex%>"
				src="<%=thisMagickFlowScreenUrl%>"
				style="width: 100vw; max-width: 100vw;"
			>
		</div>
<%_ } else if (isMp4) { _%>
		<video
			autoplay
			class="auto-replace is-video "
			id="screenshot-wrapper--slide-<%=fileIndex%>"
			playsinline
			style="height: 100vh; width: auto;"
		>
			<source
				class="screenshot auto-replace "
				id="screenshot--slide-<%=fileIndex%>"
				src="<%=thisMagickFlowScreenUrl%>"
				type="video/mp4"
			>
			Your browser does not support the video tag.
		</video>
<%_ } _%>
	</div>

<%_ if (showFooter) { _%>
	<footer class="slds-global-footer_container slds-col">
		<img
			id="sticky-footer--slide-<%=fileIndex%>"
			class="sticky-footer "
			src="<%=thisMagickFlowScreenFooterUrl%>"
		/>
	</footer>
<%_ } _%>
</div>


<%_ }); _%>
<script>let clicks = parseInt( window.location.hash.replace( '#', '' ) ) || 0;</script>



