<style>
.slds-global-header {
	padding: 0;
}

.slds-global-header__item {
	padding: 0;
}
</style>
<header class="slds-global-header_container">
	<div class="slds-global-header slds-grid slds-grid_align-spread" style="box-shadow: none;">
		<div class="slds-global-header__item">
			<div class="fake-header">
				<a href="/">
				<img src="/images/slices/globalHeader.svg" />
			</a>
			</div>
		</div>
	</div>
	<div class="slds-context-bar slds-p-left_medium" id="primaryNav"></div>
</header>
<div id="subheader-wrapper" class="slds-p-around_medium slds-m-bottom_small<%= locals.headerVariant === 'einstein' ? ' einstein' : '' %>">
	<% if (locals.breadcrumbs) { console.log('bread crumb');%>
	<nav role="navigation" aria-label="Breadcrumbs" class="slds-p-bottom_x-small">
		<ol class="slds-breadcrumb slds-list_horizontal slds-wrap">
			<% locals.breadcrumbs.forEach(function(crumb) { console.log('there is a bread crumb'); %> <li class="slds-breadcrumb__item slds-text-title_caps"><a href="javascript:void(0);"><%=crumb%></a></li> <% }) %>
		</ol>
	</nav>
	<% } else { console.log('no breadcrumb')} %>

	<div id="subheader" class="slds-container_large">
		<div class="slds-grid slds-grid_vertical-align-center">
			<div>
				<h1 class="slds-text-heading_medium"><%= locals.title || (locals.localization[locals.page] && locals.localization[locals.page].sub_header_text) 
				|| (locals.localization[locals.site_section] && locals.localization[locals.site_section].sub_header_text) 
				|| locals.sub_header_text
				|| '' %></h1>
			</div>


			<% if (locals.subHeaderVariant === 'hasButton') { 
				console.log('customizable button in sub-header please');
			%>
				<div class="slds-col_bump-left slds-p-right_medium">
					<button class="slds-button slds-button_neutral"><%=locals.subHeaderButtonLabel%></button>
				</div>
			<% } else if (locals.subHeaderVariant === 'hasText') { %>
				<div class="slds-col_bump-left slds-p-right_medium">
					<%= (locals.localization[locals.page] && locals.localization[locals.page].sub_header_text) 
					|| (locals.localization[locals.site_section] && locals.localization[locals.site_section].sub_header_text) 
					|| locals.sub_header_text
					|| '' %>
				</div>
			<% } %>

				
		</div>
		<% if (locals.subHeaderVariant === 'hasCustomSubheader')  {
			console.log('customizable sub-header please');
		%>
			<%- (locals.localization[locals.page] && locals.localization[locals.page].subHeaderContents) 
					|| (locals.localization[locals.site_section] && locals.localization[locals.site_section].subHeaderContents) 
					|| locals.subHeaderContents
					|| '' %>
		<% } %>
	</div>
</div>