<%_
console.group(`
============================================================
Demuxe: including \`product-templates/dmp/includes/global/head.ejs\` now...
------------------------------------------------------------
`);
%>
<% if (locals.title) { %>
	<title><%= locals.title %></title>
<%
	} else {
		console.warn(`
============================================================
[WARNING] No title set!

	${locals.local.host}${locals.urlSlug} does not have a title set.
============================================================

`);

%>
	<script>
		console.warn(`[WARNING: ] <%=locals.local.host%><%=locals.urlSlug%> does not have a title set!`);
	</script>
	<title> </title>
<% } %>

<meta charset="utf-8">
<link rel="stylesheet" href="/styles/salesforce-lightning-design-system.css" />
<!-- each page automatically tries to include a css file of the same name -->
<% if (locals.siteSection && locals.siteSection !== 'magick-flows') { %>
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/global.css">
<link rel="stylesheet" href="/styles/brand.css">
<link rel="stylesheet" href="/styles/<%=locals.siteSection%>.css">
<% } %>

<% 
if (locals.pageStylesheets) { 
	locals.pageStylesheets.forEach(function(stylesheet) { 
		echo(`<link rel="stylesheet" href="/styles/${stylesheet}">`);
	});
} 
%>

<% 
	const { account, trigger, user, version } = locals.sanitizedQueryParams;
	const is201 = version && version === '201';
	const accountParam = account || locals.localization.account_name || '';
%>


<%

console.group(`
============================================================
Demuxe: setting client-side javascript variables from Demuxe \`locals\`
------------------------------------------------------------
/*
	This here \`Object.keys\` loop looks strange, but is helful.

	This exposes _some_ of the \`locals\` variable in the client side
	scripts.

	Magick Flows, in particular, take advantage of this capability.

	The \`locals\` object in the EJS server memory can, under some
	circumstances, contain a reference to itself, it seems.

	Although scary and worrisome the first time one encounters it, it
	actually is not a big deal, it's a thing JavaScript handles fairly
	elegantly.

	The problem comes when attempting to turn the object into a JSON string
	-- \`JSON.siteSection\` does not know how to handle this circumstance
	   without guidance.

	It will throw an error about a circular reference. ¯\\_(ツ)_/¯


	> See this Stack Exchange for more information:
	> 
	> https://stackoverflow.com/questions/10392293/stringify-convert-to-json-a-javascript-object-with-circular-reference

	Anyhoooooo...  What we're doing _here_ is iterating through the keys of
	the \`locals\` object and explicitly excluding some keys from that
	object.

	NOW: the tricky bit here is to remember that this is a mixture of server-
	side and client-side code.

	We are iterating through the server-side variable and writing out
	statements in a \`<script>\` tag in the rendered HTML.

	Don't mess it up!
*/
------------------------------------------------------------
`);
// server-side log output ---^
%>


<script>
	const demoMagickFlowDirectoryName = '<%=locals.urlSlug%>';
	const locals = {};
<%
	Object.keys(locals).forEach(function(key, fileIndex) {
		console.group(` --> key: `, key);
		if (key != '_locals' && key != 'path' && key != 'util' && key != 'classnames' && key != 'sizeOf') {
			if(typeof locals[key] === 'object') {

				// client-side output below ---v
				// echo(`console.group('Setting variable from key \`${key}\`');`);
				echo(`locals['${key}'] = ${JSON.stringify(locals[key])};`);
				// echo(`console.groupEnd();`)
				// client-side output above ---^
			} else {
				// client-side output below ---v
				// echo(`console.group('Setting variable from key \`${key}\`');`);
				echo(`locals['${key}'] = "${locals[key]}";`);
				// echo(`console.groupEnd();`)
				// client-side output above ---^
			}
		} else {
			console.log('NOT GONNA SAVE: key: ', key);
		}
		console.groupEnd();
	});
	console.groupEnd();
	// server-side output above ---^
	// 
	// back to client-side output now ---V
%>
	console.group(`Demuxse: server-side \`locals\`:
Set: /product-templates/dmp/includes/global/head.ejs:134
`);
	console.dir(locals);
	console.groupEnd();
	const url = new URL( window.location.href );
	const activePage = '<%=locals.siteSection%>';
	const accountParam = '<%=accountParam%>';
	const versionParam = '<%=version%>';
	const magickFlows = locals.magickFlows;
	const urlSlug = '<%=locals.urlSlug%>';
	let pageVersion = '<%=version%>';
	const userParam = '<%=user%>' || 'Dan';
	const triggerParam = '<%=trigger%>';

	let accountName = '<%= locals.localization.account_name %>';
	let userName = '';
	let appName = 'Salesforce DMP';

	if (activePage === 'journeys') {
		accountName = 'nto-general';
		pageVersion = '201';
		userName = 'Dan';
		appName = 'Journey Builder';
	}

	if ( pageVersion === '201' ) {
		accountName = 'Northern Trail Outfitters - Apparel';
	}

	if ( accountParam === 'nto-apparel' ) {
		accountName = 'Northern Trail Outfitters - Apparel';
	}

	if ( accountParam === 'nto-electronics' ) {
		accountName = 'Northern Trail Outfitters - Electronics';
	}

	if ( accountParam === 'nto-general' ) {
		accountName = 'Northern Trail Outfitters';
		userName = 'Dan';
	}

	let notificationsBadgeIsActive = triggerParam === 'notificationsBadge' || null;


	const navData = {
		appName,
		pageVersion,
		accountName,
		accountParam,
		userName,
		userParam,
		notificationsBadgeIsActive,
		clearNotificationsHref: '?version=201&account=nto-apparel',
		accountNavItems: [
			{
				label: 'Northern Trail Outfitters - Apparel',
				id: 'nto-apparel-account-switcher',
				href: '?version=201&account=nto-apparel&trigger=notificationsBadge',
				isActive: ( accountName === 'Northern Trail Outfitters - Apparel' )
			},
			{
				label: 'Northern Trail Outfitters - Electronics',
				id: 'nto-electronics-account-switcher',
				href: '?version=201&account=nto-electronics',
				isActive: ( accountName === 'Northern Trail Outfitters - Electronics' )
			},
			{
				label: 'Northern Trail Outfitters',
				id: 'nto-general-account-switcher',
				href: '?version=201&account=nto-general',
				isActive: ( accountName === 'Northern Trail Outfitters' )
			}
		],
		navItems: [ {
				label: 'Overview',
				href: `/?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
				isActive: ( activePage === 'index' )
			},
			{
				label: 'Segments',
				id: 'segments-global-nav-link',
				href: '/segments/manage-segments/',
				isActive: ( activePage === 'segments' )
			},
			{
				label: 'Insights',
				ID: 'insights-global-nav-link',
				href: `?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
				isActive: ( activePage === 'insights' ),
				dropdownItems: [
					[ {
							separator: true,
							label: 'Insights'
						},
						{
							label: 'Einstein Segmentation',
							href: `/insights/einstein-segmentation?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
							id: 'einstein-segmentation-link'
						},
						{
							label: 'Top Overlapping Segments'
						},
						{
							label: 'Data Providers'
						},
						{
							label: 'Funnels'
						},
						{
							label: 'Frequency Reports'
						},
						{
							label: 'Campaign Attribution'
						},
						{
							label: 'Attribution'
						},
						{
							label: 'Custom Index Tool'
						},
						{
							label: 'Einstein Journey Insights',
							href: `/insights/journey-insights?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
							id: 'journey-insights-link'
						}
					],
					[ {
							separator: true,
							label: 'Reporting Center'
						},
						{
							label: 'Manage Reports'
						},
						{
							label: 'View Reports'
						}
					],
					[ {
							separator: true,
							label: 'Content Engagement'
						},
						{
							label: 'Audience Analytics'
						},
						{
							label: 'Engagement'
						},
						{
							label: 'Loyalty'
						},
						{
							label: 'Social Activity'
						},
						{
							label: 'Search Keywords'
						},
						{
							label: 'First Party User Match'
						}
					]
				]
			},
			{
				label: 'Activation',
				href: `?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
				lookLikeDropdown: true,
				isActive: ( activePage === 'activation' )
			},
			{
				label: 'Manage',
				href: `?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
				lookLikeDropdown: true,
				isActive: ( activePage === 'manage' ),
				dropdownItems: []
			},
			{
				label: 'Data Studio',
				id: 'data-studio',
				href: `/data-studio/audience-discovery?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
				lookLikeDropdown: true,
				isActive: ( activePage === 'audience-discovery' || activePage === 'data-studio' )
			}
		]
	}


	const navDataJourneyBuilder = {
		appName,
		pageVersion,
		accountName,
		accountParam,
		userName,
		userParam,
		notificationsBadgeIsActive,
		clearNotificationsHref: '?version=201&account=nto-apparel',
		userNavItems: [
			{
				label: userName,
				id: 'nto-apparel-name-switcher-main',
				href: `?version=201&account=nto-general&user=${userParam}`,
				isActive: ( userName === userName )
			}
		],
		accountNavItems: [
			{
				label: 'Northern Trail Outfitters - Apparel',
				id: 'nto-apparel-account-switcher',
				href: '?version=201&account=nto-apparel&trigger=notificationsBadge',
				isActive: ( accountName === 'Northern Trail Outfitters - Apparel' )
			},
			{
				label: 'Northern Trail Outfitters - Electronics',
				id: 'nto-electronics-account-switcher',
				href: '?version=201&account=nto-electronics',
				isActive: ( accountName === 'Northern Trail Outfitters - Electronics' )
			},
			{
				label: 'Northern Trail Outfitters',
				id: 'nto-general-account-switcher',
				href: '?version=201&account=nto-general',
				isActive: ( accountName === 'Northern Trail Outfitters' )
			}
		],
		navItems: [ {
				label: 'Journeys',
				href: `/journey-builder.html?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
				id: 'journeys-global-nav-link',
				isActive: ( activePage === 'journeys' )
			},
			{
				label: 'Entry Source',
				id: 'entry-source-global-nav-link',
				href: `/journey-builder.html?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
				isActive: ( activePage === 'entry-source' )
			},
			{
				label: 'History',
				id: 'history-global-nav-link',
				href: `/journey-builder.html?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
				isActive: ( activePage === 'history' )
			},
			{
				label: 'Templates',
				id: 'entry-source-global-nav-link',
				href: `/journey-builder.html?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
				isActive: ( activePage === 'templatse' )
			}
		]
	}
	const accountData = {
		appName,
		accountName,
		navItems: [ {
			label: `$data`,
			href: `?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
			isActive: ( activePage === 'insights' ),
			dropdownItems: [
				[ {
						separator: true,
						label: 'Insights'
					},
					{
						label: 'Einstein Segmentation',
						href: `/insights/einstein-segmentation?version=${pageVersion}&account=${accountParam}&user=${userParam}`,
						id: 'einstein-segmentation-link'
					},
					{
						label: 'Top Overlapping Segments'
					},
					{
						label: 'Data Providers'
					},
					{
						label: 'Funnels'
					},
					{
						label: 'Frequency Reports'
					},
					{
						label: 'Campaign Attribution'
					},
					{
						label: 'Attribution'
					},
					{
						label: 'Custom Index Tool'
					}
				],
				[ {
						separator: true,
						label: 'Reporting Center'
					},
					{
						label: 'Manage Reports'
					},
					{
						label: 'View Reports'
					}
				],
				[ {
						separator: true,
						label: 'Content Engagement'
					},
					{
						label: 'Audience Analytics'
					},
					{
						label: 'Engagement'
					},
					{
						label: 'Loyalty'
					},
					{
						label: 'Social Activity'
					},
					{
						label: 'Search Keywords'
					},
					{
						label: 'First Party User Match'
					}
				]
			]
		} ]
	}
</script>


<script type="text/javascript" src="/javascripts/third-party-libraries/highcharts.min.js"></script>
<script type="text/javascript" src="/javascripts/third-party-libraries/highcharts.more.min.js"></script>
<%_
console.log(`...end \`product-templates/dmp/includes/global/head.ejs\`
------------------------------------------------------------
`);
console.groupEnd();
%>