<div id="top" class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch">
    <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
        <div class="slds-panel-box">
            <div class="slds-panel-box__header slds-p-around_x-small"><%- locals.localization.overview.panels.audience_population.title %>
                <img class="icon slds-float_right" src="/images/settings.svg" />
            </div>
            <div class="slds-panel-box__body" style="background-color: white;">
                <div class="slds-grid slds-panel-box__sub-header slds-m-bottom_medium">
                    <div class="slds-col slds-p-around_x-small slds-size_1-of-2" style="text-align: center; border-bottom: 2px solid #0070D2;"><%- locals.localization.overview.panels.audience_population.tabs[0].label %></div>
                    <div class="slds-col slds-p-around_x-small slds-size_1-of-2" style="text-align: center"><%- locals.localization.overview.panels.audience_population.tabs[1].label %></div>
                </div>
                <div class="slds-grid slds-wrap slds-p-around_medium" style="height: 243px;">
                    <img id="index-audience-segments-population" style="margin: 0px auto;" src="<%- locals.localization.overview.panels.audience_population.img %>" />
                </div>
                <div style="border-top: 1px solid #D8DDE6; width: 100%; margin: 0;" class="slds-p-around_small slds-grid">
                    <div class="slds-col slds-size_1-of-2" style="margin-top: -4px;">
                        Find 1st, 2nd and 3rd Party segments to add to your audience.
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <button style="float: right; color: #0070D2;" class="slds-button slds-button_neutral"><img class="slds-button__icon slds-button__icon_left" src="/images/icons/plus-people.svg" style="width: 24px; height: 22px;" />Discover Audiences</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-2">
        <%- include('components/chart.activated-segments.ejs') %>
    </div>
</div>
<div id="middle" class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch">
    <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
        <%- include('components/highcharts.data-capture-events.ejs') %>
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-2">
        <%- include('components/highcharts.data-capture-methods.ejs') %>
    </div>
</div>
<div id="bottom" class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch slds-p-top_medium">
    <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
        <%- include('components/highcharts.marketer-campaigns.ejs') %>
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-2">
        <%- include('components/chart.activation-partners.ejs') %>
    </div>
</div>

<div id="rpdDiv1549994702391" class="rapidDiv isDropTarget" data-width="200" data-height="200" data-top="499" data-left="31" data-classes="rapidDiv" data-id="rpdDiv1549994702391" data-onclick-add-class="" data-onclick-remove-class="" data-onclick-toggle-class="" data-onclick-raw="" data-is-draggable="" data-onmouseover-add-class="" data-onmouseover-remove-class="" data-onmouseover-toggle-class="" data-onmouseover-raw="" data-onmouseout-add-class="" data-onmouseout-remove-class="" data-onmouseout-toggle-class="" data-onmouseout-raw="" data-background-image="" data-background-image-on-mouseover="" data-background-image-on-click="" data-background-image-on-received-drop="/images/backgroundonreceiveddropped.png" data-background-image-on-hover="" data-background-image-on-hovered="/images/backgroundonhoveredover.png" data-background-image-on-dropped="" data-background-image-on-dropped-over-target="" data-on-was-dropped-raw="" data-on-received-drop-raw="" data-accepts-only-drops-with-class="" data-is-drop-target="true" style="top: 499px; left: 31px;">
			<style class="backgroundImage"></style>
			<style class="backgroundImageOnMouseover"></style>
			<style class="backgroundImageOnClick"></style>
			<style class="backgroundImageOnHover"></style>
			<style class="backgroundImageOnReceivedDrop">
		#rpdDiv1549994702391.receivedDrop {
			background-image: url('/images/backgroundonreceiveddropped.png');
		}	
</style>
            <style class="backgroundImageOnHovered">
		#rpdDiv1549994702391.receivedDropHover {
			background-image: url('/images/backgroundonhoveredover.png');
		}	
</style>
			<style class="backgroundImageOnDropped"></style>
			<style class="backgroundImageOnDroppedOverTarget"></style>
			<script class="onWasDroppedRaw"></script>
			<script class="onReceivedDropRaw"></script>
			<script class="onclickAddClass"></script>
			<script class="onclickRemoveClass"></script>
			<script class="onclickToggleClass"></script>
			<script class="onclickRaw"></script>
			<script class="onmouseoverAddClass"></script>
			<script class="onmouseoverRemoveClass"></script>
			<script class="onmouseoverToggleClass"></script>
			<script class="onmouseoverRaw"></script>
			<script class="onmouseoutAddClass"></script>
			<script class="onmouseoutRemoveClass"></script>
			<script class="onmouseoutToggleClass"></script>
			<script class="onmouseoutRaw"></script>
			Rapid Div rpdDiv1549994702391
		</div>

<div id="rpdDiv1549994596595" class="rapidDiv draggable" data-width="200" data-height="200" data-top="668" data-left="288" data-classes="rapidDiv" data-id="rpdDiv1549994596595" data-onclick-add-class="" data-onclick-remove-class="" data-onclick-toggle-class="" data-onclick-raw="" data-is-draggable="true" data-onmouseover-add-class="" data-onmouseover-remove-class="" data-onmouseover-toggle-class="" data-onmouseover-raw="" data-onmouseout-add-class="" data-onmouseout-remove-class="" data-onmouseout-toggle-class="" data-onmouseout-raw="" data-background-image="/images/background.png" data-background-image-on-mouseover="/images/backgroundonmouseover.png" data-background-image-on-click="/images/backgroundonclick.png" data-background-image-on-received-drop="" data-background-image-on-hover="/images/backgroundonhoverovertarget.png" data-background-image-on-hovered="/images/backgroundonhoveredover.png" data-background-image-on-dropped="/images/backgroundondropped.png" data-background-image-on-dropped-over-target="/images/backgroundondroppedovertarget.png" data-on-was-dropped-raw="" data-on-received-drop-raw="" data-accepts-only-drops-with-class="" style="top: 668px; left: 288px;">
			<style class="backgroundImage">
		#rpdDiv1549994596595 {
			background-image: url('/images/background.png');
		}	
</style>
			<style class="backgroundImageOnMouseover">
		#rpdDiv1549994596595:hover {
			background-image: url('/images/backgroundonmouseover.png');
		}	
</style>
			<style class="backgroundImageOnClick">
		#rpdDiv1549994596595.clicked {
			background-image: url('/images/backgroundonclick.png');
		}	
</style>
			<style class="backgroundImageOnHover">
		#rpdDiv1549994596595.hoverOverDropTarget {
			background-image: url('/images/backgroundonhoverovertarget.png');
		}	
</style>
			<style class="backgroundImageOnHovered">
		#rpdDiv1549994596595.receivedDropHover {
			background-image: url('/images/backgroundonhoveredover.png');
		}	
</style>
			<style class="backgroundImageOnDropped">
		#rpdDiv1549994596595.wasDropped {
			background-image: url('/images/backgroundondropped.png');
		}	
</style>
			<style class="backgroundImageOnDroppedOverTarget">
		#rpdDiv1549994596595.wasDroppedOverTarget {
			background-image: url('/images/backgroundondroppedovertarget.png');
		}	
</style>
			<style class="backgroundImageOnReceivedDrop"></style>
			<script class="onWasDroppedRaw"></script>
			<script class="onReceivedDropRaw"></script>
			<script class="onclickAddClass"></script>
			<script class="onclickRemoveClass"></script>
			<script class="onclickToggleClass"></script>
			<script class="onclickRaw"></script>
			<script class="onmouseoverAddClass"></script>
			<script class="onmouseoverRemoveClass"></script>
			<script class="onmouseoverToggleClass"></script>
			<script class="onmouseoverRaw"></script>
			<script class="onmouseoutAddClass"></script>
			<script class="onmouseoutRemoveClass"></script>
			<script class="onmouseoutToggleClass"></script>
			<script class="onmouseoutRaw"></script>
			Rapid Div rpdDiv1549994596595
        </div>
        

        <div id="rpdDiv1550094054075" class="rapidDiv slds-hide" data-width="200" data-height="200" data-top="448" data-left="651" data-classes="rapidDiv" data-id="rpdDiv1550094054075" data-onclick-add-class="" data-onclick-remove-class="" data-onclick-toggle-class="" data-onclick-raw="" data-is-draggable="" data-onmouseover-add-class="" data-onmouseover-remove-class="" data-onmouseover-toggle-class="" data-onmouseover-raw="" data-onmouseout-add-class="" data-onmouseout-remove-class="" data-onmouseout-toggle-class="" data-onmouseout-raw="" data-background-image="" data-background-image-on-mouseover="" data-background-image-on-click="" data-background-image-on-received-drop="" data-background-image-on-hover="" data-background-image-on-hovered="" data-background-image-on-dropped="" data-background-image-on-dropped-over-target="" data-on-was-dropped-raw="" data-on-received-drop-raw="" data-accepts-only-drops-with-class="" style="top: 448px; left: 651px;" data-is-hidden="true">
			<style class="backgroundImage"></style>
			<style class="backgroundImageOnMouseover"></style>
			<style class="backgroundImageOnClick"></style>
			<style class="backgroundImageOnHover"></style>
			<style class="backgroundImageOnDropped"></style>
			<style class="backgroundImageOnDroppedOverTarget"></style>
			<style class="backgroundImageOnReceivedDrop"></style>
			<style class="backgroundImageOnHovered"></style>

			<script class="onWasDroppedRaw"></script>
			<script class="onReceivedDropRaw"></script>
			<script class="onclickAddClass"></script>
			<script class="onclickRemoveClass"></script>
			<script class="onclickToggleClass"></script>
			<script class="onclickRaw"></script>
			<script class="onmouseoverAddClass"></script>
			<script class="onmouseoverRemoveClass"></script>
			<script class="onmouseoverToggleClass"></script>
			<script class="onmouseoverRaw"></script>
			<script class="onmouseoutAddClass"></script>
			<script class="onmouseoutRemoveClass"></script>
			<script class="onmouseoutToggleClass"></script>
			<script class="onmouseoutRaw"></script>
			Rapid Div rpdDiv1550094054075 should be hidden
		</div>