<%_
	let thisMagickFlowConfig = locals.magickFlows[demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]];
	let preLoadImages = '';
_%>
<script type="text/javascript">
	const thisMagickFlowConfig =<%- JSON.stringify(thisMagickFlowConfig)%>;
	console.group('[ /product-templates/mobile/includes/magick-flows/contents.ejs:8 ] thisMagickFlowConfig:');
	console.dir(thisMagickFlowConfig);
	console.groupEnd();
	// console.log('thisMagickFlowConfig', thisMagickFlowConfig);
</script>
<%_
	let showMetaDataMissingError = true;
	let thisMagickFlowMetaData = thisMagickFlowConfig.metaData;
	let thisMagickFlowMetaData2 = thisMagickFlowConfig.metaData2;

	const webRootPath = `${locals.magickFlows.directoryName}/${demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]}`;
	const mainContentPath = `${webRootPath}/main/`;
	const assetsContentPath = `${webRootPath}/assets/`;

	thisMagickFlowMetaData2.forEach(function(node, nodeIndex) {


		const mainContentWebRootUrl = `${mainContentPath}${node.fileName}`;
		const showHeader = node.hasStickyHeader === true || false;
		const showFooter = node.hasStickyFooter === true || false;
		const nodeData = node.data;


		let headerHeight = node.stickyHeaderHeight | 0;
		let footerHeight = node.stickyFooterHeight | 0;

		const headerWebRootUrl = `${assetsContentPath}${node.stickyHeaderFileName}`;
		const footerWebRootUrl = `${assetsContentPath}${node.stickyFooterFileName}`;


		// Calculate the height of our scrollable area - 20 magick number for padding ¯\_(ツ)_/¯
		let mainContentScrollableAreaHeight = ((812 - (headerHeight + footerHeight)) + 20);


		const isPng = node.dimensions.type === 'png';
		const isSvg = node.dimensions.type === 'svg';
		const isMp4 = node.dimensions.type === 'mp4';
		const isGif = node.dimensions.type === 'gif';
		const isJpeg = node.dimensions.type === 'jpg';
		let thisMagickFlowsSlideClassnames = {
			'magick-flows-slide': true
		};

		preLoadImages += `<img
			class=""
			src="${mainContentWebRootUrl}"
			height="0"
			width="0"
			>
		`;


_%>

<div
	class="slds-grid slds-grid_vertical magick-flows--slide-<%=nodeIndex%>  <%= classnames(thisMagickFlowsSlideClassnames);%>"
	data-slide="<%=nodeIndex%>"
	id="magick-flows--slide-<%=nodeIndex%>"
>
<%_ if (showHeader) { _%>
	<header class="slds-col">
		<div class="magick-flows-stickey-header_container">
			<img
				id="sticky-header--slide-<%=nodeIndex%>"
				class="sticky-footer "
				src="<%=headerWebRootUrl%>"
			/>
		</div>
	</header>
<%_ } _%>


	<div
		class="slds-col"
	>
<%_ if (isPng || isSvg || isGif || isJpeg) { _%>
		<div
			class="slds-scrollable"
			style="height: <%=mainContentScrollableAreaHeight%>px; margin-bottom: <%=footerHeight%>px;"
		>
			<img
				class="screenshot auto-replace is-image "
				id="screenshot--slide-<%=nodeIndex%>"
				src="<%=mainContentWebRootUrl%>"
			>
		</div>
<%_ } else if (isMp4) { _%>
		<video
			autoplay
			class="auto-replace is-video "
			id="screenshot-wrapper--slide-<%=nodeIndex%>"
			playsinline
		>
			<source
				class="screenshot auto-replace "
				id="screenshot--slide-<%=nodeIndex%>"
				src="<%=mainContentWebRootUrl%>"
				type="video/mp4"
			>
			Your browser does not support the video tag.
		</video>
<%_ } _%>
	</div>

<%_ if (showFooter) { _%>
	<footer class="magick-flows-stickey-footer_container slds-col">
		<img
			id="sticky-footer--slide-<%=nodeIndex%>"
			class="sticky-footer "
			src="<%=footerWebRootUrl%>"
		/>
	</footer>
<%_ } _%>
</div>


<%_ }); _%>

<div class="preload-images">
<%- preLoadImages %>
</div>
