<img id="screenshot" class="auto-replace" style="width: 100%; margin: 0;" src="/images/laulima-2018-flow-dmp/0.svg">



    <div id="preload" style="display: none;">
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/0.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/1.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/2.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/3.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/4.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/5.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/6.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/7.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/8.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/9.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/10.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/11.svg" width="1" height="1" />
        <img src="/images/<%=locals.demoMagickFlowDirectoryName%>%>/12.svg" width="1" height="1" />
    </div>
