<img id="screenshot" class="auto-replace" style="width: 100%; margin: 0;" src="/magick-flows/<%= demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug] %>/0.svg">





<div id="preload" style="display: none;">
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/0.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/1.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/2.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/3.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/4.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/5.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/6.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/7.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/8.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/9.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/10.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/11.svg" width="1" height="1" />
    <img src="/images/magick-flows/<%=demoMagickFlowUrlSlugsMapToFlowDirectories[locals.urlSlug]%>%>/12.svg" width="1" height="1" />
</div>
