    <%- include('images/slices/header.svg') %>
    <div class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch slds-p-horizontal_x-small">
        <div class="slds-col slds-p-horizontal_x-small slds-size_1-of-3">
            <%- include('components/panel-box.ejs', {
                title: 'Total Consumer Population',
                contents: include('images/slices/tcp.svg'),
                footer_links: [{}]
            }) %>
        </div>
        <div class="slds-col slds-p-horizontal_x-small slds-size_2-of-3">
            <%- include('components/panel-box.ejs', {
                title: 'Conversion Path Analysis',
                contents: include('images/slices/cpa.svg'),
                footer_links: [{}]
            }) %>
        </div>
    </div>

    <div class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-m-top_medium slds-p-horizontal_x-small">
        <div class="slds-grid slds-wrap slds-col slds-size_2-of-3">
            <div id="top-segments-panel" class="slds-col slds-p-horizontal_x-small slds-size_1-of-2">
                <style>
                    #top-segments-panel button.slds-button.slds-button_neutral {
                        margin-left: 50px;
                    }
                </style>
                <%- include('components/panel-box.ejs', {
                    title: 'Top Segments',
                    header_buttons: [
                        { label: 'Season Ticket Holders' },
                        { img: include('images/icons/einstein.svg') }
                    ],
                    contents: include('images/slices/top-segments.ejs'),
                    footer_links: [{}]
                }) %>
            </div>
            <div class="slds-col slds-p-horizontal_x-small slds-size_1-of-2">
                <%- include('components/panel-box.ejs', {
                    title: 'Consent Across Channels',
                    contents: include('images/slices/consent-across-channels.ejs'),
                    footer_links: [{}]
                }) %>
            </div>
            <div class="slds-col slds-p-horizontal_x-small slds-size_1-of-2 slds-m-top_medium">
                <%- include('components/panel-box.ejs', {
                    title: 'Top Channels',
                    header_buttons: [
                        { label: 'Conversion Rate (CVR)' }
                    ],
                    contents: include('images/slices/top-channels.ejs'),
                    footer_links: [{}]
                }) %>
            </div>
            <div class="slds-col slds-p-horizontal_x-small slds-size_1-of-2 slds-m-top_medium">
                <%- include('components/panel-box.ejs', {
                    title: 'Channel Engagement',
                    header_buttons: [
                        { label: 'Email' }
                    ],
                    contents: include('images/slices/channel-engagement.ejs'),
                    footer_links: [{}]
                }) %>
            </div>
        </div>
        <div class="slds-grid slds-wrap slds-col slds-p-horizontal_x-small slds-size_1-of-3">
            <div class="slds-col slds-size_1-of-1">
                <%- include('components/panel-box.ejs', {
                    title: 'Top Products',
                    header_buttons: [
                        { label: 'Revenue' }
                    ],
                    contents: include('images/slices/top-products.svg'),
                    footer_links: [{}]
                }) %>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-m-top_medium">
                <%- include('components/panel-box.ejs', {
                    title: 'Service Cases',
                    contents: include('images/slices/service-cases.svg'),
                    footer_links: [{}]
                }) %>
            </div>
        </div>
    </div>

