	<%- include('images/slices/header.ejs') %>
	<div class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch slds-p-horizontal_x-small">
		<div class="slds-col slds-p-horizontal_x-small slds-size_1-of-3">
			<%- include('components/panel-box.ejs', {
				title: 'Total Consumer Population',
				contents: include('images/slices/tcp.ejs'),
				footer_links: [{}]
			}) %>
		</div>
		<div class="slds-col slds-p-horizontal_x-small slds-size_2-of-3">
			<%- include('components/panel-box.ejs', {
				title: 'Conversion Path Analysis',
				contents: include('images/slices/cpa.ejs'),
				footer_links: [{}]
			}) %>
		</div>
	</div>

	<div class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-m-top_medium slds-p-horizontal_x-small">
		<div class="slds-grid slds-wrap slds-col slds-size_2-of-3">
			<div id="top-segments-panel" class="slds-col slds-p-horizontal_x-small slds-size_1-of-2">
				<style>
					#top-segments-panel button.slds-button.slds-button_neutral {
						margin-left: 50px;
					}
				</style>
				<%- include('components/panel-box.ejs', {
					title: 'Top Segments',
					header_buttons: [
						{ label: 'Season Ticket Holders' },
						{ img: include('images/icons/einstein.svg') }
					],
					contents: include('images/slices/top-segments.ejs'),
					footer_links: [{}]
				}) %>
			</div>
			<div class="slds-col slds-p-horizontal_x-small slds-size_1-of-2">
				<%- include('components/panel-box.ejs', {
					title: 'Consent Across Channels',
					contents: include('images/slices/consent-across-channels.ejs'),
					footer_links: [{}]
				}) %>
			</div>
			<div class="slds-col slds-p-horizontal_x-small slds-size_1-of-2 slds-m-top_medium">
				<%- include('components/panel-box.ejs', {
					title: 'Top Channels',
					header_buttons: [
						{ label: 'Conversion Rate (CVR)' }
					],
					contents: include('images/slices/top-channels.ejs'),
					footer_links: [{}]
				}) %>
			</div>
			<div class="slds-col slds-p-horizontal_x-small slds-size_1-of-2 slds-m-top_medium">
				<%- include('components/panel-box.ejs', {
					title: 'Channel Engagement',
					header_buttons: [
						{ label: 'Email' }
					],
					contents: include('images/slices/channel-engagement.ejs'),
					footer_links: [{}]
				}) %>
			</div>
		</div>
		<div class="slds-grid slds-wrap slds-col slds-p-horizontal_x-small slds-size_1-of-3">
			<div class="slds-col slds-size_1-of-1">
				<%- include('components/panel-box.ejs', {
					title: 'Top Products',
					header_buttons: [
						{ label: 'Revenue' }
					],
					contents: include('images/slices/top-products.ejs'),
					footer_links: [{}]
				}) %>
			</div>
			<div class="slds-col slds-size_1-of-1 slds-m-top_medium">
				<%- include('components/panel-box.ejs', {
					title: 'Service Cases',
					contents: include('images/slices/service-cases.ejs'),
					footer_links: [{}]
				}) %>
			</div>
		</div>
	</div>

<style>
	.slds-modal__content {
		padding: 0;
		margin: 0;
	}
</style>
<script>
	const kickoff = function kickoff() {
		document.querySelector('.slds-modal').classList.remove('slds-fade-in-open');
		document.querySelector('.slds-backdrop').classList.remove('slds-backdrop_open');
		animateTCPGraph();
		animateCPAGraph();
		animateHeaderGraph();
	}
</script>
<%

const data = {
	size: 'medium',
	contentsMain: `
<div id="rpdDiv1560258978394" class="rapidDiv" data-width="200" data-height="200" data-top="318" data-left="115" data-classes="rapidDiv" data-id="rpdDiv1560258978394" data-onclick-add-class="" data-onclick-remove-class="" data-onclick-toggle-class="" data-onclick-raw="" data-is-draggable="" data-onmouseover-add-class="" data-onmouseover-remove-class="" data-onmouseover-toggle-class="" data-onmouseover-raw="" data-onmouseout-add-class="" data-onmouseout-remove-class="" data-onmouseout-toggle-class="" data-onmouseout-raw="" data-background-image="" data-background-image-on-mouseover="" data-background-image-on-click="" data-background-image-on-received-drop="" data-background-image-on-hover="" data-background-image-on-hovered="" data-background-image-on-dropped="" data-background-image-on-dropped-over-target="" data-on-was-dropped-raw="" data-on-received-drop-raw="" data-accepts-only-drops-with-class="" style="top: 328px; left: 128px; width: 200px; height: 200px; z-index: 999999;">
	<style class="backgroundImage"></style>
	<style class="backgroundImageOnMouseover"></style>
	<style class="backgroundImageOnClick"></style>
	<style class="backgroundImageOnHover"></style>
	<style class="backgroundImageOnDropped"></style>
	<style class="backgroundImageOnDroppedOverTarget"></style>
	<style class="backgroundImageOnReceivedDrop"></style>
	<style class="backgroundImageOnHovered"></style>

	<script class="onWasDroppedRaw"></script>
	<script class="onReceivedDropRaw"></script>
	<script class="onclickAddClass"></script>
	<script class="onclickRemoveClass"></script>
	<script class="onclickToggleClass"></script>
	<script class="onclickRaw"></script>
	<script class="onmouseoverAddClass"></script>
	<script class="onmouseoverRemoveClass"></script>
	<script class="onmouseoverToggleClass"></script>
	<script class="onmouseoverRaw"></script>
	<script class="onmouseoutAddClass"></script>
	<script class="onmouseoutRemoveClass"></script>
	<script class="onmouseoutToggleClass"></script>
	<script class="onmouseoutRaw"></script>
	<!--Rapid Div rpdDiv1560258978394-->
	<button class="slds-button slds-button_brand" title="Home" aria-pressed="false" style="width: 191px; height: 35px;" onclick="kickoff()">
	Let's Dive In!
	</button>
</div>
<img src="images/slices/modal-contents.png" />
	`,
	isOpen: true,
	handleClose: 'kickoff'
};

echo(include('components/modal', data));

%>

