<!-- include('images/slices/dashboard.svg') -->
    <%- include('images/slices/header.svg') %>
    <div class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch slds-p-horizontal_large">
        <div class="slds-col slds-p-horizontal_x-small slds-size_1-of-3">
            <%- include('components/panel-box.ejs', {
                title: 'Audience Profile',
                contents: '<img src="images/audience_profile.png" style="margin: 0 auto;" />',
                footer_links: [{}]
            }) %>
        </div>
        <div class="slds-col slds-p-horizontal_x-small slds-size_2-of-3">
            <%- include('components/panel-box.ejs', {
                title: 'Conversion Path Analysis',
                contents: include('images/slices/cpa.svg'),
                footer_links: [{}]
            }) %>
        </div>
    </div>

    <!--div class="slds-grid slds-wrap slds-grid_pull-padded-medium slds-grid_vertical-stretch slds-m-top_medium slds-p-horizontal_large">
        <div class="slds-col slds-p-horizontal_x-small slds-size_1-of-3">
            <%- include('components/panel-box.ejs', {
                title: 'Top Segments',
                header_buttons: [
                    { label: 'Conversion Rate (CVR)' }
                ],
                contents: '<img src="images/top_segments.png" style="margin: 0 auto;" />',
                footer_links: [{}]
            }) %>
        </div>
        <div class="slds-col slds-p-horizontal_x-small slds-size_1-of-3">
            <%- include('components/panel-box.ejs', {
                title: 'Consent Across Segments',
                contents: '<img src="images/consent_across_segments.png" style="margin: 0 auto;" />',
                footer_links: [{}]
            }) %>
        </div>
        <div class="slds-col slds-p-horizontal_x-small slds-size_1-of-3">
            <%- include('components/panel-box.ejs', {
                title: 'Engagement By Channel',
                contents: '<img src="images/engagement_by_channel.png" style="margin: 0 auto;" />',
                footer_links: [{}]
            }) %>
        </div>
    </div-->

