<%
	const controls = locals.localization.segments.states[locals.state].controls;
	const segments = locals.localization.segments.states[locals.state].segments;
	const lookalikes = locals.localization.segments.states[locals.state].lookalikes;
%>

<div class="slds-page-header__row" style="height: 184px; margin-bottom: 1rem;">
	<div style="background-color: white; border-radius: 4px; width: 876px; padding: 30px">
		<!-- we include it here so that it re-animates consistently on page load (otherwise it gets cached and doesn't always animate) -->
		<%- include('images/segments.top-left.svg') %>
	</div>
	<div style="background-color: white; border-radius: 4px; width: 364px; margin-left: 1rem; padding: 15px">
		<%- include('images/segments.top-right.svg') %>
	</div>
</div>

<div style="background-color: white; padding: 1rem; max-width: 78.3rem; border-radius: 4px;" class="slds-container_large">
	<div class="slds-page-header__row">
		<div class="slds-page-header__col-title">
			<img class="" src="/images/slices/segments.manage-segments.menu-a-left.svg" style="height: 33px;" />
		</div>
		<div class="slds-page-header__col-actions">
			<%
				controls.forEach((control) => {
					switch(control.type) {
						case 'button-group': %>
						<div class="slds-button-group" role="group">
						<% control.items.forEach((data) => { %>
							<%- include('components/button', data) %>
						<% }) %>
						</div>
						<% break;
						case 'combobox': %>
							<div class="slds-button">
								<%- include('components/combobox', control) %>
							</div>
						<% break;
						case 'button': %>
							<% if (control.hasOverflow) {%><div class="slds-button"><% } %>
								<%- include('components/button', control) %>
							<% if (control.hasOverflow) {%></div><% } %>
						<% break;
					}
				});
			%>
		</div>
		<div>
			<button class="slds-button slds-button_icon slds-button_icon-more slds-button_icon-border-filled slds-button_neutral" title="Check" aria-pressed="false">
				<svg class="slds-button__icon" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/utility-sprite/svg/symbols.svg#multi_select_checkbox"></use>
				</svg>
				<span class="slds-assistive-text">Check&gt;</span>
			</button>
		</div>
	</div>

<%
	const makePanel = (data) => {
		const badges = data.titleBadges && data.titleBadges.reduce((badges, badge) => include('components/badge', badge), '') || '';
		const subTitleBadges = data.subTitleBadges && data.subTitleBadges.reduce((badges, badge) => include('components/badge', badge), '') || '';
		const audienceFillPercentage = (data.audienceFill >= 0) ? data.audienceFill : 100;
		const audienceFill = 113 - (((data.audienceFill * 100) * 113)/10000);
		const deviceFillPercentage = (data.deviceFill >= 0) ? data.deviceFill : 100;
		const deviceFill = 113 - (((data.deviceFill * 100) * 113)/10000);

		return `
		<div class="slds-panel-box slds-m-top_medium">
			<div class="slds-panel-box__header slds-p-horizontal_small slds-grid slds-wrap">
				<div class="slds-col slds-size_3-of-5">${data.title}</div>
				<div class="slds-col slds-size_2-of-5 slds-text-body_regular slds-col_bump-left slds-text-align_right">${badges}</div>
				<div class="slds-col slds-size_3-of-5 slds-text-body_regular">${data.subTitle}</div>
				<div class="slds-col slds-size_2-of-5 slds-text-body_regular slds-col_bump-left slds-text-align_right">${subTitleBadges }</div>
				<div class="slds-panel-box__header-settings"><img src="/images/icons/settings.svg" /></div>
				<div class="slds-panel-box__header-dropdown slds-dropdown slds-dropdown_left slds-dropdown_small slds-hide">
					<ul class="slds-dropdown__list" role="menu" aria-label="Show More">
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" role="menuitem" tabindex="0">
								<span class="slds-truncate" title="Menu Item One">
									<img class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" src="/images/icons/pin.svg" />
									Pin Segment
								</span>
							</a>
						</li>
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" role="menuitem" tabindex="-1">
								<span class="slds-truncate" title="Menu Item Two">
									<img class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" src="/images/icons/star.svg" />
									Add to Favorites
								</span>
							</a>
						</li>
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" role="menuitem" tabindex="-1">
								<span class="slds-truncate" title="Menu Item One">CDIM</span>
							</a>
						</li>
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" onclick="navigatePage('/as?step=0#0')" role="menuitem" tabindex="-1">
								<span class="slds-truncate" title="Menu Item Two">Lookalike</span>
							</a>
						</li>
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" onclick="navigatePage('/data-studio.audience-discovery.html')" role="menuitem" tabindex="-1">
								<span class="slds-truncate" title="Data Studio">Discover Audiences</span>
							</a>
						</li>

						<li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
							<span class="slds-text-title_caps">Audience</span>
						</li>
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" role="menuitem" tabindex="-1">
								<span class="slds-truncate" title="Menu Item Two">View Summary</span>
							</a>
						</li>
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" role="menuitem" tabindex="-1">
								<span class="slds-truncate" title="Menu Item Two">Edit Segment</span>
							</a>
						</li>
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" role="menuitem" tabindex="-1">
								<span class="slds-truncate" title="Menu Item Two">Copy Segment</span>
							</a>
						</li>
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" role="menuitem" tabindex="-1">
								<span class="slds-truncate" title="Menu Item Two">Delete Segment</span>
							</a>
						</li>

						<li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
							<span class="slds-text-title_caps">Activation</span>
						</li>
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" role="menuitem" tabindex="-1">
								<span class="slds-truncate" title="Menu Item Two">Enable Test Mode</span>
							</a>
						</li>
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" onclick="navigatePage('/segments/manage-segments/rules')" role="menuitem" tabindex="-1">
								<span class="slds-truncate" title="Menu Item Two">Update Partners</span>
							</a>
						</li>
						<li class="slds-dropdown__item" role="presentation">
							<a href="javascript:void(0);" onclick="navigatePage('/data-studio/provisioning/new-asset.define-asset')" role="menuitem" tabindex="-1">
								<span class="slds-truncate" title="Menu Item Two">Provision Segment</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="slds-panel-box__body slds-grid slds-p-horizontal_small slds-p-vertical_x-small">
				<div class="slds-col slds-size_1-of-6 slds-text-heading_large slds-p-top_xx-small">
					<img class='${data.delayLoad ? 'loading': ''} slds-hide' src="/images/icons/devices-loading.svg" />
					<span class='${data.delayLoad ? 'loaded': ''}'><svg class="slds-icon_ring" xmlns="http://www.w3.org/2000/svg" version="1.1">
						<circle cx="20" cy="20" r="18" stroke="#E6ECF2" stroke-width="2" fill="none" />
						<circle cx="20" cy="20" r="18" stroke="#5AA7EA"  stroke-dasharray="113" stroke-dashoffset="${deviceFill}" transform="rotate(-90, 20, 20)" stroke-width="2" fill="none" />
					</svg><img src="/images/icons/devices.svg" />
					${data.devices}</span>
				</div>
				<div class="slds-col slds-size_1-of-6 slds-text-heading_large slds-p-top_xx-small">
					<img class='${data.delayLoad ? 'loading': ''} slds-hide' src="/images/icons/audience-loading.svg" />
					<span class='${data.delayLoad ? 'loaded': ''}'><svg class="slds-icon_ring slds-icon_ring-customers" xmlns="http://www.w3.org/2000/svg" version="1.1">
						<circle cx="20" cy="20" r="18" stroke="#E6ECF2" stroke-width="2" fill="none" />
						<circle cx="20" cy="20" r="18" stroke="#67CCD4" stroke-dasharray="113" stroke-dashoffset="${audienceFill}" transform="rotate(-90, 20, 20)" stroke-width="2" fill="none" />
					</svg><span class="slds-icon_container slds-icon_container_circle slds-icon-action-customers"><svg class="slds-icon slds-icon-text-default" aria-hidden="true">
							<use xlink:href="/icons/standard-sprite/svg/symbols.svg#customers"></use>
						</svg></span>${data.audience}</div></span>
				<div class="slds-col slds-size_1-of-6">
					<div class="slds-panel-box__body_label">Last Modified</div>
					<div class="slds-panel-box__body_text">${data.modified}</div>
				</div>
				<div class="slds-col slds-size_1-of-6">
					<div class="slds-panel-box__body_label">Type</div>
					<div class="slds-panel-box__body_text">${data.type}</div>
				</div>
				<div class="slds-col slds-size_1-of-6">
					<div class="slds-panel-box__body_label">Category</div>
					<div class="slds-panel-box__body_text">${data.category}</div>
				</div>
				<div class="slds-col slds-size_1-of-6">
					<div class="slds-panel-box__body_label">Sub Category</div>
					<div class="slds-panel-box__body_text">${data.subCategory}</div>
				</div>
				<div class="slds-panel-box__body-settings"><img src="/images/icons/chevrondown.svg" /></div>
			</div>
		</div>
	`};


	const makeModalContentsHeaderTagline = (data) => (`
		<p>Pick a dot from the graph to create a lookalike segment.</p>
	`);


	const makeModalContentsChart = (data) => include(
		'components/highcharts.lookalikes.ejs',
		{
			...data,
			width: '510px',
			height: '268px',
			selectCallback: (event) => {
				document.querySelectorAll('.slds-button[disabled]').forEach((button) => button.removeAttribute('disabled'));
			}
		}
	);

	const makeModalContentsMain = (data) => (`
		<div class="slds-text-heading_medium">
			Potential Lookalikes
			<span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
				<svg class="slds-icon slds-icon-text-default slds-icon_x-small" aria-hidden="true">
					<use xlink:href="/icons/utility-sprite/svg/symbols.svg#info"></use>
				</svg>
				<span class="slds-assistive-text">Description of icon when needed</span>
			</span>
		</div>
		<div class="slds-grid">
			<div class="slds-col slds-size_3-of-5">Select the desired combination of reach and similarity for your objective.</div>
			<div class="slds-col slds-size_2-of-5" style="text-align: right; font-size: 16px;">
				<img style="width: 16px; height: 16px; margin-top: -4px;" src="/images/icons/cpm.svg" /> CPM: <strong>${lookalikes.cpm}</strong>
			</div>
		</div>


		<div class="slds-grid">
			<div class="slds-col slds-size_3-of-5">
				${makeModalContentsChart(data)}
			</div>
			<div class="slds-col slds-size_2-of-5 slds-text-body_regular slds-col_bump-left slds-p-top_small">
				${makeTable(data)}
			</div>
		</div>
	`);
	const makeModalContentsFooter = (data) => (`
		<button disabled class="slds-button slds-button_neutral">Cancel</button>
		<button disabled onclick="navigatePage('/segments/manage-segments/?trigger=successToast');" class="slds-button slds-button_brand">Create a lookalike segment</button>
	`);

	const panels = segments;

	const makePanels = () => panels.reduce((panels, panel) => panels + makePanel(panel), '');
%>

<%-makePanels();%>

<img id="lookalike1" src="/images/lookalike1.png" class="slds-hide lookalike" onclick="showLookalike(2);" style="display: block; position: absolute; top: 0; left: 0;z-index: 100000;" />
<img id="lookalike2" src="/images/lookalike2.png" class="slds-hide lookalike" onclick="showLookalike(3);" style="display: block; position: absolute; top: 0; left: 0;z-index: 100000;" />
<img id="lookalike3" src="/images/lookalike3.png" class="slds-hide lookalike" onclick="hideLookalikes();" style="display: block; position: absolute; top: 0; left: 0;z-index: 100000;" />
</div>
<%
	const modalId = `audience-studio-manage-segments-modal`;
	const modalBackdropId = `${modalId}-backdrop`;
%>


<% if (locals.localization.segments.states[locals.state].toast) {
	const toast = locals.localization.segments.states[locals.state].toast; %>
	<%- include('components/toast', {
		contents: toast.contents,
		title: toast.title,
		theme: (toast.theme) ? toast.theme : 'success',
		id: (toast.id) ? toast.id : 'successToast',
		triggerImmediately: toast.triggerImmediately
	}) %>
<% } %>

<script>
document.querySelectorAll('.slds-panel-box__header-settings').forEach((elm) => elm.addEventListener('click', function () {
	const img = this.querySelector('img');

	if (img.src.includes("/images/icons/settings.svg")) {
		img.src = '/images/icons/settings-blue.svg';
	} else {
		img.src = '/images/icons/settings.svg';
	}

	const siblingClasses = [ ...this.nextElementSibling.classList ];

	if (siblingClasses.includes('slds-hide')) {
		this.nextElementSibling.classList.remove('slds-hide');
	} else {
		this.nextElementSibling.classList.add('slds-hide');
	}
}));
</script>