<%

const randomId = `search-box-${Math.floor(Math.random() * 10000)}`;
locals.id = locals.id || randomId;

%>

<div class="slds-grid">
	<div class="slds-form-element slds-col slds-size_5-of-6">
		<div class="slds-form-element__control slds-m-right_xx-small">
			<input type="text" id="<%= locals.id  %>" class="slds-input" placeholder="<%= locals.placeholder ? locals.placeholder : 'Search' %>" />
		</div>
	</div>
	<button id="<%= locals.id %>-button" class="slds-button slds-button_brand slds-col slds-size_1-of-6" disabled=""><%= locals.actionLabel ? locals.actionLabel : 'Go' %></button>
</div>

<script>
	const searchBox = document.querySelector(`#<%= locals.id %>`);
	const searchButton = document.querySelector(`#<%= locals.id %>-button`);
	searchBox.addEventListener('keyup', () => {
		if (searchBox.value.length > 0) {
			searchButton.removeAttribute('disabled');
		} else {
			searchButton.setAttribute('disabled', '');
		}
	});
</script>